<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/admin-layout}">

<div layout:fragment="content">
    <div class="container mt-5">
        <h2>저자</h2>
        <form method="get" action="/admin/authors/register">
            <button type="submit" class="btn btn-outline-primary">Primary</button>

        </form>
        <table class="table">
            <thead>
            <tr>
                <th>저자</th>
                <th>내용</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="author:${authorList}">
                <p th:text="${author.getId()}" hidden></p>
                <td th:text="${author.getName()}"></td>
                <td th:text="${author.getContent()}"></td>
                <td>
                    <form method="get" action="/admin/authors/update">
                        <input type="hidden" th:name="id" th:value="${author.getId()}"/>
                        <input type="hidden" th:name="name" th:value="${author.getName()}"/>
                        <input type="hidden" th:name="content" th:value="${author.getContent()}"/>
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">수정하기</button>
                    </form>
                </td>
                <td>
                    <form id="deleteForm" method="post" action="/admin/authors/delete">
                        <input type="hidden" th:name="id" th:value="${author.getId()}"/>

                        <button class="btn btn-outline-secondary" type="submit" id="button-delete">삭제
                        </button>
                    </form>
                </td>

            </tr>

            </tbody>
        </table>
    </div>

</div>

</html>