<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/admin-layout}">
<div layout:fragment="content">
    <div>
        <a th:href="@{/admin/category}" class="btn btn-primary" role="button">리스트로 돌아가기</a>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <form id="form" action="/admin/category/update" method="post">
            <div th:if="${levelOneCategoryName != null}">
                1단계 카테고리 : <label class="form-label" th:text="${levelOneCategoryName}"></label>
            </div>
            <div th:unless="${levelOneCategoryName != null}">
                1단계 카테고리 : <label class="form-label" th:text="없음"></label>
            </div>
            <div>
                <div th:if="${levelTwoCategoryName != null}">
                    2단계 카테고리 : <label class="form-label" th:text="${levelTwoCategoryName}"></label>
                </div>
                <div th:unless="${levelTwoCategoryName != null}">
                    2단계 카테고리 : <label class="form-label" th:text="없음"></label>
                </div>
            </div>
            <div>
                <input type="text" id="targetCategoryId" name="id" th:value="${category.id}" readonly hidden="hidden">
            </div>
            <div>
                <label for="targetCategory" class="form-label">카테고리 이름</label>
                <input id="targetCategory" name="name" th:value="${category.name}">
            </div>
            <button class="btn btn-primary" type="submit" th:text="수정하기"></button>
        </form>
    </div>
    <script src="../js/category-name-validation.js"></script>
    <script src="../js/category-update-validation.js"></script>
</div>
</html>
