<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/admin-layout}">

<div layout:fragment="content">
    <p>출판사 등록 페이지 및 수정 페이지</p>
    <div class="input-group input-group-sm justify-content-center mb-3">
        <div th:if="${modifyReturnRule == null}">
            <form name="form" class="form" method="post" th:action="@{'/admin/return-rules/register'}">
                <span>반품 규정 명</span>
                <br>

                <th:block th:each="returnRuleName:${returnRuleNameList}">
                    <label>
                        <input type="radio" name="returnName" class="returnName" th:value="${returnRuleName.id}"/>
                        <span th:text="${returnRuleName.id}"></span>
                    </label>
                    <br>

                </th:block>

                <input type="text" name="deliveryFee" class="form-control deliveryFee" placeholder="반품 시 배송 비"/>
                <input type="text" name="term" class="form-control term" placeholder="반품 유효 기간"/>
                <th:block th:if="${msg !=null}">
                    <p id="message" th:data-info="${msg}"></p>
                </th:block>
                <button name="submit" class="btn btn-outline-secondary" type="submit">등록
                </button>
            </form>
        </div>
        <div th:if="${modifyReturnRule != null }">
            <form name="form" method="post" class="form" th:action="@{'/admin/return-rules/update'}">


                <input type="hidden" name="id" class="form-control"
                       th:value="${modifyReturnRule.id}"/>


                <th:block th:each="returnRuleName:${returnRuleNameList}">
                    <label>
                        <input type="radio" name="returnName" class="returnName" th:value="${returnRuleName.id}"
                               th:checked="${returnRuleName.id eq modifyReturnRule.returnName}"/>

                        <span th:text="${returnRuleName.id}"></span>
                    </label>
                    <br>
                </th:block>


                <input type="text" name="deliveryFee" class="form-control deliveryFee"
                       th:value="${modifyReturnRule.deliveryFee}"/>


                <input type="text" name="term" class="form-control term"
                       th:value="${modifyReturnRule.term}"/>


                <button class="btn btn-outline-secondary" type="submit">수정
                </button>
            </form>
        </div>
    </div>

    <script src="/admin/js/return-rule/return-rule-validation.js"></script>
    <script src="/admin/js/return-rule/return-rule-register-validation.js"></script>
</div>
</html>