<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/admin-layout}">

<div layout:fragment="content">
    <p>출판사 등록 페이지 및 수정 페이지</p>
    <div class="input-group input-group-sm justify-content-center mb-3">
        <div th:if="${modifyReturnRule == null}">
            <form method="post" th:action="@{'/admin/return-rules/register'}">
                <input type="text" name="returnName" class="form-control" placeholder="반품 규정 명"/>
                <input type="text" name="deliveryFee" class="form-control" placeholder="반품 시 배송 비"/>
                <input type="text" name="term" class="form-control" placeholder="반품 유효 기간"/>
                <button class="btn btn-outline-secondary" type="submit">등록
                </button>
            </form>
        </div>
        <div th:if="${modifyReturnRule != null }">
            <form method="post" th:action="@{'/admin/return-rules/update/'+${id}}">
                <input type="text" name="returnName" class="form-control"
                       th:value="${modifyReturnRule.returnName}"/>
                <input type="text" name="deliveryFee" class="form-control"
                       th:value="${modifyReturnRule.deliveryFee}"/>
                <input type="text" name="term" class="form-control"
                       th:value="${modifyReturnRule.term}"/>
                <button class="btn btn-outline-secondary" type="submit">수정
                </button>
            </form>
        </div>
    </div>
</div>
</html>