<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/admin-layout}">

<div layout:fragment="content">
    <div class="container mt-5">
        <h2>반품 규정</h2>
        <form method="get" action="/admin/return-rules/register">
            <button type="submit" class="btn btn-outline-primary">등록</button>

        </form>
        <table class="table">
            <thead>
            <tr>
                <th>반품 규정 명</th>
                <th>반품 배송 비</th>
                <th>반품 유효 기간</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="returnRule:${returnRuleList}">
                <td th:text="${returnRule.returnName}"></td>
                <td th:text="${returnRule.deliveryFee}"></td>
                <td th:text="${returnRule.term}"></td>
                <td>

                    <form method="post" th:action="@{'/admin/return-rules/update-form/'+${returnRule.id}}">
                        <input type="hidden" th:name="returnName" th:value="${returnRule.returnName}"/>
                        <input type="hidden" th:name="deliveryFee" th:value="${returnRule.deliveryFee}"/>
                        <input type="hidden" th:name="term" th:value="${returnRule.term}"/>
                        <input type="hidden" th:name="isAvailable" th:value="${returnRule.isAvailable}"/>
                        <button class="btn btn-outline-secondary" type="submit" id="button-modify">수정하기</button>
                    </form>
                </td>
                <td>
                    <form id="deleteForm" method="post" action="/admin/return-rules/delete">
                        <input type="hidden" th:name="id" th:value="${returnRule.id}"/>

                        <button class="btn btn-outline-secondary" type="submit" id="button-delete">삭제
                        </button>
                    </form>
                </td>

            </tr>

            </tbody>
        </table>
    </div>

</div>

</html>