<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/admin-layout}">

<div layout:fragment="content">
    <div class="container mt-5">
        <h2>포장지</h2>
        <form method="get" action="/admin/wraps/register">
            <button type="submit" class="btn btn-outline-primary">등록</button>

        </form>
        <table class="table">
            <thead>
            <tr>
                <th>포장지 이름</th>
                <th>가격</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="wrap:${wrapList}">
                <td th:text="${wrap.name}"></td>
                <td th:text="${wrap.cost}"></td>
                <td>
                    <form method="post" th:action="@{'/admin/wraps/update-view'}">
                        <input type="hidden" th:name="id" th:value="${wrap.id}"/>
                        <input type="hidden" th:name="name" th:value="${wrap.name}"/>
                        <input type="hidden" th:name="cost" th:value="${wrap.cost}"/>
                        <button class="btn btn-outline-secondary" type="submit" id="button-update">수정하기</button>
                    </form>

                    <form id="deleteForm" method="post" action="/admin/wraps/delete">
                        <input type="hidden" th:name="id" th:value="${wrap.id}"/>
                        <button class="btn btn-outline-secondary" type="submit" id="button-delete">삭제
                        </button>
                    </form>
                </td>

            </tr>

            </tbody>
        </table>
    </div>

</div>

</html>