<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/admin-layout}">

<div layout:fragment="content">
    <script>
        let url = "/admin/member"
        let currentPage = [[${members.number}]]
        let totalPages = [[${members.totalPages}]]
        console.log(currentPage)
        console.log(totalPages)
    </script>
    <div class="container mt-5"> <!-- text-center 클래스 추가 -->
        <h1>회원 정보</h1>
        <table class="table table-bordered" style="width: 150%; height: 150%;">
            <thead>
            <tr>
                <th>회원 이름</th>
                <th>전화번호</th>
                <th>이메일</th>
                <th>생년</th>
                <th>생월일</th>
                <th>가입일</th>
                <th>최근 로그인</th>
                <th>등급 변경일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member:${members.content}">
                <td th:text="${member.name}"></td>
                <td th:text="${member.phoneNumber}"></td>
                <td th:text="${member.email}"></td>
                <td th:text="${member.birthYear}"></td>
                <td th:text="${member.birthMonthDay}"></td>
                <td th:text="${member.createdAt}"></td>
                <td th:text="${member.latestLogin}"></td>
                <td th:text="${member.gradeChangedDate}"></td>
            </tr>
            </tbody>
        </table>
        <div class="mt-3">
            <div class="pagination">
                <div class="page-item">
                    <a class="page-link" id="prevLink" th:text="'<'" th:href="@{#}"></a>
                </div>
                <div class="pagination" id="pageNumContainer"></div>
                <div class="page-item">
                    <a class="page-link" id="nextLink" th:text="'>'" th:href="@{#}"></a>
                </div>
            </div>
        </div>
    </div>


    <script src="/admin/js/page/setPrevious.js"></script>
    <script src="/admin/js/page/setNext.js"></script>
    <script src="/admin/js/page/setLastPage.js"></script>
</div>

</html>
