<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/admin-layout}">
<div layout:fragment="content">
    <script>
        let url = "/admin/tag"
        let currentPage = [[${tags.number}]]
        let totalPages = [[${tags.totalPages}]]
    </script>
    <h1>태그 페이지</h1>
    <div class="container">
        <div>
            <a th:href="@{/admin/tag/register}" class="btn btn-primary" role="button">태그 추가하기</a>
        </div>
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">태그 이름</th>
                    <th scope="col">수정하기</th>
                    <th scope="col">삭제하기</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tag : ${tags.content}">
                    <th th:text="${tag.name}"></th>
                    <th>
                        <form action="/admin/tag/update" method="get">
                            <input hidden="hidden" name="id" th:value="${tag.id}">
                            <button class="btn btn-primary" type="submit" th:text="수정하기"></button>
                        </form>
                    </th>
                    <th><a th:href="@{/admin/tag/delete/{id}(id=${tag.id})}" class="btn btn-secondary" role="button">삭제하기</a>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="mt-3" th:block th:if="${tags.totalPages > 1}">
            <div class="pagination">
                <div class="page-item">
                    <a class="page-link" id="prevLink" th:text="'<'" th:href="@{#}"></a>
                </div>
                <div class="pagination" id="pageNumContainer"></div>
                <div class="page-item">
                    <a class="page-link" id="nextLink" th:text="'>'" th:href="@{#}"></a>
                </div>
            </div>
        </div>
    </div>
    <script src="/admin/js/page/setPrevious.js"></script>
    <script src="/admin/js/page/setNext.js"></script>
    <script src="/admin/js/page/setLastPage.js"></script>
</div>
</html>