<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/my-books-layout}">

<div layout:fragment="content">

    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a href="/"><i class="lni lni-home"></i>Home</a></li>
                        <li>회원주소</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Start Faq Area -->
    <section class="faq section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>회원주소</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 offset-lg-1 col-md-12 col-12">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <span class="title">주소 관리</span><i
                                        class="lni lni-plus"></i>
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <style>
                                        table {
                                            width: 100%;
                                            border-collapse: collapse;
                                        }

                                        th, td {
                                            padding: 8px;
                                            text-align: left;
                                            border-bottom: 1px solid #ddd;
                                        }

                                        /* 수정 및 삭제 버튼 스타일 */
                                        .edit-btn, .delete-btn {
                                            background-color: #007bff;
                                            color: #fff;
                                            border: none;
                                            padding: 6px 12px;
                                            border-radius: 4px;
                                            cursor: pointer;
                                        }

                                        /* 수정 버튼 마진 */
                                        .edit-btn {
                                            margin-right: 5px;
                                        }
                                    </style>
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>주소 별칭</th>
                                            <th>도로명 주소</th>
                                            <th>상세주소</th>
                                            <th>도로번호</th>
                                            <th>추가정보</th>
                                            <th>수정</th>
                                            <th>삭제</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <!-- Iterate over the list of user addresses -->
                                        <tr th:each="address, addressIndex : ${userAddressList}">
                                            <td th:text="${address.alias}"></td>
                                            <td th:text="${address.roadName}"></td>
                                            <td th:text="${address.detail}"></td>
                                            <td th:text="${address.number}"></td>
                                            <td th:text="${address.reference}"></td>
                                            <td>
                                                <button type="button" class="delete-btn" th:id="${address.id}" onclick="openWindow(this.getAttribute('id'))">수정</button>
                                            </td>

                                            <td>
                                                <form  method="post" action="/user/address/delete">
                                                    <input type="hidden" name="addressId"
                                                           th:value="${address.id}"/>
                                                    <button type="submit" class="delete-btn">삭제</button>
                                                </form>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <span class="title">주소 추가</span><i class="lni lni-plus"></i>
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <form action="/user/address/create" method="post" onsubmit="return validateForm()">
                                        <div class="form-group">
                                            <label for="alias">별명</label>
                                            <input type="text" id="alias" class="form-control" name="alias"
                                                   placeholder="별명" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="sample6_postcode">우편번호</label>
                                            <div class="input-group">
                                                <input type="text" id="sample6_postcode" class="form-control"
                                                       name="number" placeholder="우편번호" readonly>
                                                <button type="button" class="btn btn-primary"
                                                        onclick="sample6_execDaumPostcode()">우편번호 찾기
                                                </button>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="sample6_address">주소</label>
                                            <input type="text" id="sample6_address" class="form-control" name="roadName"
                                                   placeholder="주소" readonly>
                                            <small class="form-text text-muted">(지번주소 입력시 도로명 주소로 자동 변환됩니다)</small>
                                        </div>
                                        <div class="form-group">
                                            <label for="sample6_detailAddress">상세주소</label>
                                            <input type="text" id="sample6_detailAddress" class="form-control"
                                                   name="detail" placeholder="상세주소" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="sample6_extraAddress">참고항목</label>
                                            <input type="text" id="sample6_extraAddress" name="reference"
                                                   class="form-control" placeholder="참고항목" readonly>
                                        </div>
                                        <button type="submit" class="btn btn-primary">추가</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Start Team Area -->
    <section class="team section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Team -->
                    <div class="single-team">
                        <div class="content">
                            <div class="info">
                                <a href="/user">
                                    <h3>마이페이지</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Team -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Team -->
                    <div class="single-team">
                        <div class="content">
                            <a href="/user/address">
                                <h3>주소관리</h3>
                            </a>
                        </div>
                    </div>
                    <!-- End Single Team -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Team -->
                    <div class="single-team">
                        <div class="content">
                            <div class="info">
                                <h3>구매 목록</h3>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Team -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Team -->
                    <div class="single-team">
                        <div class="content">
                            <div class="info">
                                <h3>나중에 추가</h3>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Team -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Team Area -->

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>

        var newWindow;

        function openWindow(addressId) {
            // 기존에 열려있는 창이 있다면 닫기
            if (newWindow && !newWindow.closed) {
                newWindow.close();
            }

            // 새 창 열기
            newWindow = window.open("", "NewWindow", "width=400,height=100");

            console.log(addressId);

            // 새 창에 폼 내용 작성
            var content = `
        <html>
        <head>
            <title>주소 수정</title>
        </head>
        <body>

        <form id="modifyForm" method="post" action="https://www.my-books.store/user/address/modify">
            <!-- 주소 id를 hidden으로 전달 -->
            <input type="hidden" name="addressId" value="${addressId}"/>

            <!-- 수정 양식 내용 -->
            <div class="form-group">
                <label for="modify_alias">별명</label>
                <input type="text" id="modify_alias" class="form-control" name="alias" placeholder="별명" required>
            </div>
            <div class="form-group">
                <label for="modify_sample6_detailAddress">상세주소</label>
                <input type="text" id="modify_sample6_detailAddress" class="form-control" name="detail" placeholder="상세주소" required>
            </div>
            <button type="button" onclick="submitForm()">변경</button>
        </form>
        </body>
        </html>
    `;

            // 새 창에 내용 쓰기
            newWindow.document.write(content);
        }

        // 폼 제출 함수
        function submitForm() {
            var form = newWindow.document.getElementById('modifyForm'); // 폼 요소 가져오기
            var formData = new FormData(form); // 폼 데이터 생성
            var xhr = new XMLHttpRequest(); // XMLHttpRequest 객체 생성
            xhr.open('POST', form.action); // 요청 설정
            xhr.onload = function () {
                // 요청 완료 시
                if (xhr.status === 200) {
                    // 요청 성공 시
                    newWindow.close(); // 새 창 닫기
                    location.reload(); // 기존 페이지 새로고침
                }
            };
            xhr.send(formData); // 요청 전송
        }

        // 기존 창 닫기
        function closeWindow() {
            // 창 닫기
            newWindow.close();
        }




        function sample6_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function (data) {
                    var addr = ''; // 주소 변수
                    var extraAddr = ''; // 참고항목 변수

                    // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else if (data.userSelectedType === 'J') { // 사용자가 지번 주소를 선택했을 경우에도 도로명주소를
                        addr = data.roadAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraAddr += data.bname;
                    }
                    if (data.buildingName !== '' && data.apartment === 'Y') {
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    if (extraAddr !== '') {
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    document.getElementById("sample6_extraAddress").value = extraAddr;


                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('sample6_postcode').value = data.zonecode;
                    document.getElementById("sample6_address").value = addr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("sample6_detailAddress").focus();
                }
            }).open();
        }

        function validateForm() {
            var postcode = document.getElementById("sample6_postcode").value;
            if (postcode === "") {
                alert("우편번호를 입력해주세요.");
                return false;
            }
            return true;
        }
    </script>
</div>