<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/my-books-layout}">
<head>
    <style>
        .quantity-input {
            display: flex;
            align-items: center;
        }

        .quantity-input .form-control.quantity {
            width: 60px; /* 입력 칸 크기 조정 */
            text-align: center;
            margin: 0 5px; /* 버튼과의 간격 */
        }

        .quantity-input button {
            border: 1px solid #ddd;
            background-color: #f5f5f5;
            padding: 5px 10px;
            cursor: pointer;
        }

        .quantity-input button:focus,
        .quantity-input .form-control.quantity:focus {
            outline: none;
        }

    </style>
</head>
<div layout:fragment="content">


    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Single Product</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a href="index.html"><i class="lni lni-home"></i> Home</a></li>
                        <li><a href="index.html">Shop</a></li>
                        <li>Single Product</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Start Item Details -->
    <section class="item-details section">
        <div class="container">
            <div class="top-area">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="product-images">
                            <main id="gallery">
                                <div class="main-img">
                                    <img th:src="${thumbNailImage.path + thumbNailImage.fileName + thumbNailImage.extension}"
                                         id="bookImage" alt="#">
                                </div>
                            </main>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="product-info">
                            <h1 class="title">도서명: <span th:text="${book.name}"></span></h1>
                            <p>저자: <span th:text="${authorNameList}"></span></p>
                            <p>출판사: <span th:text="${book.publisher.name}"></span></p>
                            <p>카테고리: <span th:text="${categoryNameList}"></span></p>
                            <p>태그: <span th:text="${tagNameList}"></span></p>
                            <p>리뷰: <span></span></p>
                            <div class="price-info">
                                <div class="original-price">정가: <span th:text="${book.originalCost}">원</span></div>
                                <div class="sale-price">판매가:
                                    <span th:text="${book.saleCost} + '원 (' + ${book.disCountRate} + '% 할인)'"></span>
                                </div>
                                <p>배송비: <span>무료</span></p>
                                <div class="quantity-input">
                                    <button onclick="stepDown()" class="minus-btn">-
                                    </button>
                                    <input type="number" id="quantity" name="quantity" min="1" value="1"
                                           class="form-control quantity">
                                    <button onclick="stepUp()" class="plus-btn">+
                                    </button>
                                </div>

                                <div class="bottom-content">
                                    <div class="row align-items-end">
                                        <div class="col-lg-4 col-md-4 col-12">
                                            <form action="/direct/checkout" method="get">
                                                <input type="hidden" name="id" th:value="${book.id}">
                                                <input type="hidden" id="buyNowQuantity" name="quantity">
                                                <div class="button cart-button">
                                                    <button type="submit" class="btn" style="width: 100%;">바로구매</button>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-12">
                                            <form action="/cart/add" method="post">
                                                <input type="hidden" name="id" th:value="${book.id}">
                                                <input type="hidden" name="originalCost"
                                                       th:value="${book.originalCost}">
                                                <input type="hidden" name="saleCost" th:value="${book.saleCost}">
                                                <input type="hidden" id="cartQuantity" name="quantity">
                                                <div class="button cart-button">
                                                    <button type="submit" class="btn" style="width: 100%;">장바구니 담기
                                                    </button>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-12">
                                            <div th:if="${userBookLikeCheck} != null">
                                                <form th:action="@{/book-like/{bookId}(bookId=${book.id})}"
                                                      method="post">
                                                    <div class="wish-button">
                                                        <button type="submit" class="btn">
                                                            <i class="lni lni-heart"
                                                               th:style="${userBookLikeCheck} ? 'color: red;' : ''"></i>
                                                            <span th:text="'Like (' + ${book.likeCount} + ')'">Like</span>
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                            <div th:if="${userBookLikeCheck} == null">
                                                <button class="btn" disabled>
                                                    <i class="lni lni-heart"></i>
                                                    <span th:text="'Like (' + ${book.likeCount} + ')'">Like</span>
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-details-info">
                    <!-- 도서상세정보 시작 -->
                    <div class="single-block">
                        <div class="row">
                            <div class="col-4">
                                <h2 style="font-size: 24px; margin-top: 20px;">도서정보</h2>
                                <table class="table">
                                    <tr>
                                        <th>출판일</th>
                                        <td th:text="${book.publishDate}"></td>
                                    </tr>
                                    <tr>
                                        <th>페이지수</th>
                                        <td th:text="${book.page}"></td>
                                    </tr>
                                    <tr>
                                        <th>ISBN</th>
                                        <td th:text="${book.isbn}"></td>
                                    </tr>
                                    <tr>
                                        <th>포장가능여부</th>
                                        <td th:text="${book.isPacking}? '가능' : '불가능'"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-12">
                                <h2 style="font-size: 24px; margin-top: 20px;">목차</h2>
                                <div th:text="${book.index}"></div>

                                <h2 style="font-size: 24px; margin-top: 20px;">설명</h2>
                                <div th:utext="${book.explanation}"></div>

                                <h2 style="font-size: 24px; margin-top: 20px;">책소개</h2>
                                <div th:each="contentImage : ${contentImage}">
                                    <img th:src="${contentImage.path + contentImage.fileName + contentImage.extension}" alt="책 소개 이미지">
                                </div>


                                <h2 style="font-size: 24px; margin-top: 20px;">저자 소개</h2>
                                <div th:each="author : ${book.authorList}">
                                    <p>저자명: <span th:text="${author.name}"></span></p>
                                    <p>저자소개: <span th:text="${author.content}"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 도서상세정보 끝 -->


                    <div class="row">
                        <div class="col-lg-4 col-12">
                            <div class="single-block give-review">
                                <h4>4.5 (Overall)</h4>
                                <ul>
                                    <li>
                                        <span>5 stars - 38</span>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                    </li>
                                    <li>
                                        <span>4 stars - 10</span>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star"></i>
                                    </li>
                                    <li>
                                        <span>3 stars - 3</span>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star"></i>
                                        <i class="lni lni-star"></i>
                                    </li>
                                    <li>
                                        <span>2 stars - 1</span>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star"></i>
                                        <i class="lni lni-star"></i>
                                        <i class="lni lni-star"></i>
                                    </li>
                                    <li>
                                        <span>1 star - 0</span>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star"></i>
                                        <i class="lni lni-star"></i>
                                        <i class="lni lni-star"></i>
                                        <i class="lni lni-star"></i>
                                    </li>
                                </ul>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn review-btn" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                    Leave a Review
                                </button>
                            </div>
                        </div>
                        <div class="col-lg-8 col-12">
                            <div class="single-block">
                                <div class="reviews">
                                    <h4 class="title">Latest Reviews</h4>
                                    <!-- Start Single Review -->
                                    <div class="single-review">
                                        <img src="https://via.placeholder.com/150x150" alt="#">
                                        <div class="review-info">
                                            <h4>Awesome quality for the price
                                                <span>Jacob Hammond
                                            </span>
                                            </h4>
                                            <ul class="stars">
                                                <li><i class="lni lni-star-filled"></i></li>
                                                <li><i class="lni lni-star-filled"></i></li>
                                                <li><i class="lni lni-star-filled"></i></li>
                                                <li><i class="lni lni-star-filled"></i></li>
                                                <li><i class="lni lni-star-filled"></i></li>
                                            </ul>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor...</p>
                                        </div>
                                    </div>
                                    <!-- End Single Review -->
                                    <!-- Start Single Review -->
                                    <div class="single-review">
                                        <img src="https://via.placeholder.com/150x150" alt="#">
                                        <div class="review-info">
                                            <h4>My husband love his new...
                                                <span>Alex Jaza
                                            </span>
                                            </h4>
                                            <ul class="stars">
                                                <li><i class="lni lni-star-filled"></i></li>
                                                <li><i class="lni lni-star-filled"></i></li>
                                                <li><i class="lni lni-star-filled"></i></li>
                                                <li><i class="lni lni-star-filled"></i></li>
                                                <li><i class="lni lni-star"></i></li>
                                            </ul>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor...</p>
                                        </div>
                                    </div>
                                    <!-- End Single Review -->
                                    <!-- Start Single Review -->
                                    <div class="single-review">
                                        <img src="https://via.placeholder.com/150x150" alt="#">
                                        <div class="review-info">
                                            <h4>I love the built quality...
                                                <span>Jacob Hammond
                                            </span>
                                            </h4>
                                            <ul class="stars">
                                                <li><i class="lni lni-star-filled"></i></li>
                                                <li><i class="lni lni-star-filled"></i></li>
                                                <li><i class="lni lni-star-filled"></i></li>
                                                <li><i class="lni lni-star-filled"></i></li>
                                                <li><i class="lni lni-star-filled"></i></li>
                                            </ul>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor...</p>
                                        </div>
                                    </div>
                                    <!-- End Single Review -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Item Details -->

    <!-- Review Modal -->
    <div class="modal fade review-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Leave a Review</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="review-name">Your Name</label>
                                <input class="form-control" type="text" id="review-name" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="review-email">Your Email</label>
                                <input class="form-control" type="email" id="review-email" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="review-subject">Subject</label>
                                <input class="form-control" type="text" id="review-subject" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="review-rating">Rating</label>
                                <select class="form-control" id="review-rating">
                                    <option>5 Stars</option>
                                    <option>4 Stars</option>
                                    s
                                    <option>3 Stars</option>
                                    <option>2 Stars</option>
                                    <option>1 Star</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="review-message">Review</label>
                        <textarea class="form-control" id="review-message" rows="8" required></textarea>
                    </div>
                </div>
                <div class="modal-footer button">
                    <button type="button" class="btn">Submit Review</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Review Modal -->


    <script type="text/javascript">
        const current = document.getElementById("current");
        const opacity = 0.6;
        const imgs = document.querySelectorAll(".img");
        imgs.forEach(img => {
            img.addEventListener("click", (e) => {
                //reset opacity
                imgs.forEach(img => {
                    img.style.opacity = 1;
                });
                current.src = e.target.src;
                //adding class
                //current.classList.add("fade-in");
                //opacity
                e.target.style.opacity = opacity;
            });
        });

        function stepUp() {
            document.getElementById('quantity').stepUp()
            document.getElementById('buyNowQuantity').value = document.getElementById('quantity').value
            document.getElementById('cartQuantity').value = document.getElementById('quantity').value
        }

        function stepDown() {
            document.getElementById('quantity').stepDown()
            document.getElementById('cartQuantity').value = document.getElementById('quantity').value
            document.getElementById('buyNowQuantity').value = document.getElementById('quantity').value

        }

        function setting() {
            document.getElementById('cartQuantity').value = 1
            document.getElementById('buyNowQuantity').value = 1

        }

        setting()
    </script>
</div>