<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/my-books-layout}">
<head>
    <style>
        .pagination {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }

        .pagination a {
            padding: 8px 16px;
            margin: 4px;
            background-color: #4285f4;
            color: white;
            border: none;
            border-radius: 4px;
            text-align: center;
            text-decoration: none;
            font-size: 14px;
            cursor: pointer;
        }

        .pagination a:hover {
            background-color: #3367d6;
        }

        .pagination ul {
            list-style: none;
            padding: 0;
            display: flex;
        }

        .pagination li {
            margin-right: 5px;
        }

        .quantity-input {
            display: flex;
            align-items: center;
        }

        .quantity-input .form-control.quantity {
            width: 60px; /* 입력 칸 크기 조정 */
            text-align: center;
            margin: 0 5px; /* 버튼과의 간격 */
        }

        .quantity-input button {
            border: 1px solid #ddd;
            background-color: #f5f5f5;
            padding: 5px 10px;
            cursor: pointer;
        }

        .quantity-input button:focus,
        .quantity-input .form-control.quantity:focus {
            outline: none;
        }


        .product-images {
            max-height: 70%;
            overflow: hidden;
        }

        #bookImage {
            height: 70%;
            max-height: 70%;
            width: 50%;
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<div layout:fragment="content">

    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Single Product</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a href="index.html"><i class="lni lni-home"></i> Home</a></li>
                        <li><a href="index.html">Shop</a></li>
                        <li>Single Product</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Start Item Details -->
    <section class="item-details section">
        <div class="container">
            <div class="top-area">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="product-images">
                            <main id="gallery">
                                <div class="main-img">
                                    <div class="main-img">
                                        <img th:src="${thumbNailImage.path + thumbNailImage.fileName + thumbNailImage.extension}"
                                             id="bookImage" alt="#" class="img-fluid">
                                    </div>
                                </div>
                            </main>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="product-info">
                            <h1 class="title">도서명: <span th:text="${book.name}"></span></h1>
                            <p>저자: <span th:text="${authorNameList}"></span></p>
                            <p>출판사: <span th:text="${book.publisher.name}"></span></p>
                            <p>카테고리: <span th:text="${categoryNameList}"></span></p>
                            <p>태그: <span th:text="${tagNameList}"></span></p>
                            <p>리뷰: <span id="roundedRate"></span>/5(<span th:text="(${book.reviewCount})"></span>)</p>
                            <div class="price-info">
                                <div class="original-price">정가: <span th:text="${book.originalCost}">원</span></div>
                                <div class="sale-price">판매가:
                                    <span th:text="${book.saleCost} + '원 (' + ${book.disCountRate} + '% 할인)'"></span>
                                </div>
                                <p>배송비: <span>무료</span></p>
                                <div class="quantity-input">
                                    <button onclick="stepDown()" class="minus-btn">-
                                    </button>
                                    <input type="number" id="quantity" name="quantity" min="1" value="1"
                                           class="form-control quantity">
                                    <button onclick="stepUp()" class="plus-btn">+
                                    </button>
                                </div>

                                <div class="bottom-content">
                                    <div class="row align-items-end">
                                        <div class="col-lg-4 col-md-4 col-12">
                                            <form id="direct-order-form" action="/direct/checkout" method="get">
                                                <input type="hidden" id="direct-order-book-id" name="id"
                                                       th:value="${book.id}">
                                                <input type="hidden" id="buyNowQuantity" name="quantity">
                                                <div class="button cart-button">
                                                    <button type="submit" class="btn" style="width: 100%;">바로구매</button>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-12">
                                            <form action="/cart/add" method="post">
                                                <input type="hidden" name="id" th:value="${book.id}">
                                                <input type="hidden" name="cost"
                                                       th:value="${book.originalCost}">
                                                <input type="hidden" name="saleCost" th:value="${book.saleCost}">
                                                <input type="hidden" id="cartQuantity" name="quantity">
                                                <div class="button cart-button">
                                                    <button type="submit" class="btn" style="width: 100%;">장바구니 담기
                                                    </button>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-12">
                                            <div th:if="${userBookLikeCheck} != null">
                                                <form th:action="@{/book-like/{bookId}(bookId=${book.id})}"
                                                      method="post">
                                                    <div class="wish-button">
                                                        <button type="submit" class="btn">
                                                            <i class="lni lni-heart"
                                                               th:style="${userBookLikeCheck} ? 'color: red;' : ''"></i>
                                                            <span th:text="'Like (' + ${book.likeCount} + ')'">Like</span>
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                            <div th:if="${userBookLikeCheck} == null">
                                                <button class="btn" disabled>
                                                    <i class="lni lni-heart"></i>
                                                    <span th:text="'Like (' + ${book.likeCount} + ')'">Like</span>
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-details-info">
                    <!-- 도서상세정보 시작 -->
                    <div class="single-block">
                        <div class="row">
                            <div class="col-4">
                                <h2 style="font-size: 24px; margin-top: 20px;">도서정보</h2>
                                <table class="table">
                                    <tr>
                                        <th>출판일</th>
                                        <td th:text="${book.publishDate}"></td>
                                    </tr>
                                    <tr>
                                        <th>페이지수</th>
                                        <td th:text="${book.page}"></td>
                                    </tr>
                                    <tr>
                                        <th>ISBN</th>
                                        <td th:text="${book.isbn}"></td>
                                    </tr>
                                    <tr>
                                        <th>포장가능여부</th>
                                        <td th:text="${book.isPacking}? '가능' : '불가능'"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-12">
                                <h2 style="font-size: 24px; margin-top: 20px;">목차</h2>
                                <div th:utext="${book.index}"></div>

                                <h2 style="font-size: 24px; margin-top: 20px;">설명</h2>
                                <div th:utext="${book.explanation}"></div>

                                <h2 style="font-size: 24px; margin-top: 20px;">책소개</h2>
                                <div th:each="contentImage : ${contentImage}">
                                    <img th:src="${contentImage.path + contentImage.fileName + contentImage.extension}"
                                         alt="책 소개 이미지">
                                </div>


                                <h2 style="font-size: 24px; margin-top: 20px;">저자 소개</h2>
                                <div th:each="author : ${book.authorList}">
                                    <p>저자명: <span th:text="${author.name}"></span></p>
                                    <p>저자소개: <span th:text="${author.content}"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 도서상세정보 끝 -->


                    <div class="col-lg-8 col-12">
                        <div class="single-block">
                            <div class="myrevies">
                                <h2>리뷰</h2>
                                <div class="row mt-3">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <ul class="list-group">
                                                <li th:each="review : ${reviews.content}" class="list-group-item">
                                                    <div class="row">
                                                        <div class="col-md-10">
                                                            <h5 class="mb-1"><span th:text="${review.title}"></span>
                                                            </h5>
                                                            <p class="mb-1">평점 : <span class="rating__result"
                                                                                       th:text="${review.rate+'/5'}"></span>
                                                            </p>
                                                            <p class="mb-1">등록일 : <span th:text="${review.date}"></span>
                                                            </p>
                                                            <p class="mb-1">작성자 : <span
                                                                    th:text="${review.userName}"></span></p>

                                                            <div class="col-md-2">
                                                                <div class="float-left">
                                                                    <img th:if="${review.reviewImage != null}"
                                                                         th:src="${review.reviewImage}"
                                                                         width="100" height="100" alt="리뷰 이미지"/>
                                                                </div>
                                                            </div>
                                                            <p class="mb-1"><span th:text="${review.content}"></span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pagination">
                                <ul>
                                    <li th:each="i : ${#numbers.sequence(0, reviews.totalPages - 1)}">
                                        <a th:href="@{${#httpServletRequest.requestURI}(page=${i})}"
                                           th:text="${i + 1}" th:class="${reviews.number == i ? 'active' : ''}"></a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>
    <!-- End Item Details -->


    <script type="text/javascript">

        document.addEventListener("DOMContentLoaded", function () {
            // 리뷰 목록이 비어 있는지 확인
            var reviewsList = document.querySelectorAll(".list-group-item");
            if (reviewsList.length === 0) {
                // 리뷰가 없는 경우 메시지를 보여줌
                var noReviewsMessage = document.createElement("p");
                noReviewsMessage.textContent = "리뷰가 존재하지 않습니다.";
                document.querySelector(".myrevies").appendChild(noReviewsMessage);
                // 페이지네이션 숨김
                document.querySelector(".pagination").style.display = "none";
            }
        });
       

        // 페이지 번호를 클릭할 때 AJAX로 페이지를 로드하는 함수
        function loadReviewsPage(pageNumber) {
            // AJAX 요청 생성
            var xhr = new XMLHttpRequest();
            var bookId = [[${book.id}]];
            var url = "/review/book/" + bookId + "?page=" + pageNumber;
            xhr.open("GET", url, true);

            // 요청이 완료되었을 때의 콜백 함수 등록
            xhr.onload = function () {
                if (xhr.status >= 200 && xhr.status < 300) {
                    // 요청이 성공한 경우 페이지 내용을 업데이트
                    var response = xhr.responseText;

                    document.querySelector(".myrevies").innerHTML = response;
                } else {
                    // 요청이 실패한 경우 오류 처리
                    console.error(xhr.statusText);
                }
            };

            // 요청 보내기
            xhr.send();
        }

        document.querySelectorAll(".pagination li a").forEach(function (pageLink) {
            pageLink.addEventListener("click", function (event) {
                event.preventDefault(); // 링크 기본 동작 방지
                var pageNumber = parseInt(this.textContent.trim()); // 클릭한 페이지 번호 가져오기
                loadReviewsPage(pageNumber - 1); // 해당 페이지 로드
            });
        });


        const current = document.getElementById("current");
        const opacity = 0.6;
        const imgs = document.querySelectorAll(".img");
        imgs.forEach(img => {
            img.addEventListener("click", (e) => {
                //reset opacity
                imgs.forEach(img => {
                    img.style.opacity = 1;
                });
                current.src = e.target.src;
                //adding class
                //current.classList.add("fade-in");
                //opacity
                e.target.style.opacity = opacity;
            });
        });

        function stepUp() {
            document.getElementById('quantity').stepUp()
            document.getElementById('buyNowQuantity').value = document.getElementById('quantity').value
            document.getElementById('cartQuantity').value = document.getElementById('quantity').value
        }

        function stepDown() {
            document.getElementById('quantity').stepDown()
            document.getElementById('cartQuantity').value = document.getElementById('quantity').value
            document.getElementById('buyNowQuantity').value = document.getElementById('quantity').value

        }

        function setting() {
            document.getElementById('cartQuantity').value = 1
            document.getElementById('buyNowQuantity').value = 1

        }

        setting()


        // Thymeleaf를 통해 전달된 book.rate 값을 가져옴
        var originalRate = parseFloat([[${book.rate}]]);
        // 소수점 한 자리로 반올림
        var roundedRate = Math.round(originalRate * 10) / 10;

        // 소수점 한 자리에서 반올림한 값을 HTML에 설정
        document.getElementById('roundedRate').innerText = roundedRate;

    </script>
</div>