<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/my-books-layout}"
      xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="content">
    <style>
        .quantity-input {
            display: flex;
            align-items: center;
        }

        .quantity-input .form-control.quantity {
            width: 60px; /* 입력 칸 크기 조정 */
            text-align: center;
            margin: 0 5px; /* 버튼과의 간격 */
        }

        .quantity-input button {
            border: 1px solid #ddd;
            background-color: #f5f5f5;
            padding: 5px 10px;
            cursor: pointer;
        }

        .quantity-input button:focus,
        .quantity-input .form-control.quantity:focus {
            outline: none;
        }

        .img{
            width: ;
        }
    </style>

    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Cart</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a href="index.html"><i class="lni lni-home"></i> Home</a></li>
                        <li><a href="index.html">Shop</a></li>
                        <li>Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Shopping Cart -->
    <div class="shopping-cart section">
        <div class="container">
            <div class="cart-list-head">
                <!-- Cart List Title -->
                <div class="cart-list-title">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-12">

                        </div>
                        <div class="col-lg-4 col-md-3 col-12">
                            <p>상품 명</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-12">
                            <p>수량</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-12">
                            <p>정상가</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-12">
                            <p>판매가</p>
                        </div>
                        <div class="col-lg-1 col-md-2 col-12">
                            <p>삭제</p>
                        </div>
                    </div>
                </div>
                <!-- End Cart List Title -->
                <!-- Cart Single List list -->
                <div th:each="cartDetail : ${cartDetailList}" class="cart-single-list">
                    <div class="row align-items-center">
                        <div class="col-lg-1 col-md-1 col-12">
                            <a th:href="${cartDetail.bookImage}"><img th:src="${cartDetail.bookImage}" alt="#"></a>
                        </div>
                        <div class="col-lg-4 col-md-3 col-12">
                            <h5 class="product-name"><a th:href="@{'/book/' + ${cartDetail.bookId}}"
                                                        th:text="${cartDetail.name}">
                            </a></h5>
                            <p class="product-des">
                                <span><em>Type:</em> Mirrorless</span>
                                <span><em>Color:</em> Black</span>
                            </p>
                        </div>
                        <div class="quantity-input col-lg-2 col-md-2 col-12">
                            <button onclick="decreaseCounter(this)" class="minus-btn">-</button>
                            <p class="counter form-control quantity" th:data-amount="${cartDetail.cartDetailAmount}"
                               th:text="${cartDetail.cartDetailAmount}">0</p>
                            <button onclick="increaseCounter(this)" class="plus-btn">+</button>
                        </div>
                        <div class="col-lg-2 col-md-2 col-12 ">
                            <p th:text="${#numbers.formatInteger(cartDetail.cost, 3, 'COMMA')}"></p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-12">
                            <p th:text="${#numbers.formatInteger(cartDetail.saleCost, 3, 'COMMA')}" id="cost"></p>

                        </div>
                        <div class="col-lg-1 col-md-2 col-12">
                            <a class="remove-item" th:href="@{'/cart/delete?bookId=' + ${cartDetail.bookId}}"><i
                                    class="lni lni-close"></i></a>
                        </div>
                    </div>
                </div>

                <script th:inline="javascript">
                    function updateCounterDisplay(element, value) {
                        element.innerText = value;
                        updateTotalAmount();
                    }

                    function increaseCounter(button) {
                        var counterElement = button.parentElement.querySelector('.counter');
                        var counterValue = parseInt(counterElement.innerText);
                        counterValue++;
                        updateCounterDisplay(counterElement, counterValue);
                    }

                    function decreaseCounter(button) {
                        var counterElement = button.parentElement.querySelector('.counter');
                        var counterValue = parseInt(counterElement.innerText);
                        if (counterValue > 1) {
                            counterValue--;
                            updateCounterDisplay(counterElement, counterValue);
                        }
                    }

                    function updateTotalAmount() {
                        var total = 0;
                        var counters = document.querySelectorAll('.counter');
                        var costs = document.querySelectorAll('#cost p');

                        for (var i = 0; i < counters.length; i++) {
                            var counterValue = parseInt(counters[i].innerText);
                            var costValue = parseInt(costs[i].innerText);

                            total += counterValue * costValue;
                        }

                        document.getElementById('totalAmount').innerText = total;
                    }
                </script>


                <div class="row">
                    <div class="col-12">
                        <!-- Total Amount -->
                        <div class="total-amount">
                            <div class="row">
                                <div class="col-lg-8 col-md-6 col-12">
                                    <!--                            <div class="left">-->
                                    <!--                                <div class="coupon">-->
                                    <!--                                    <form action="#" target="_blank">-->
                                    <!--                                        <input name="Coupon" placeholder="Enter Your Coupon">-->
                                    <!--                                        <div class="button">-->
                                    <!--                                            <button class="btn">Apply Coupon</button>-->
                                    <!--                                        </div>-->
                                    <!--                                    </form>-->
                                    <!--                                </div>-->
                                    <!--                            </div>-->
                                </div>
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="right">
                                        <ul>
                                            <li class="last" id="totalAmount">총 주문금액<span
                                                    th:text="${totalAmount}"></span></li>
                                        </ul>
                                        <div class="button">
                                            <a href="/cart/checkout" class="btn">Checkout</a>
                                            <a href="product-grids.html" class="btn btn-alt">Continue shopping</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ End Total Amount -->
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Shopping Cart -->

    </div>
</div>
<script>updateTotalAmount();</script>
</html>