<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/my-books-layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <style>        .quantity-input {
        display: flex;
        align-items: center;
    }

    .quantity-input .form-control.quantity {
        width: 60px; /* 입력 칸 크기 조정 */
        text-align: center;
        margin: 0 5px; /* 버튼과의 간격 */
    }

    .quantity-input button {
        border: 1px solid #ddd;
        background-color: #f5f5f5;
        padding: 5px 10px;
        cursor: pointer;
    }

    .quantity-input button:focus,
    .quantity-input .form-control.quantity:focus {
        outline: none;
    }

    </style>
</head>
<div layout:fragment="content">
    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Cart</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a href="index.html"><i class="lni lni-home"></i> Home</a></li>
                        <li><a href="index.html">Shop</a></li>
                        <li>Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>    <!-- End Breadcrumbs -->

    <!-- Shopping Cart -->
    <div class="shopping-cart section">
        <div class="container">
            <div class="cart-list-head">
                <!-- Cart List Title -->
                <div class="cart-list-title">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-12">

                        </div>
                        <div class="col-lg-4 col-md-3 col-12">
                            <p>상품 명</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-12">
                            <p>수량</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-12">
                            <p>정상가</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-12">
                            <p>판매가</p>
                        </div>
                        <div class="col-lg-1 col-md-2 col-12">
                            <p>삭제</p>
                        </div>
                    </div>
                </div>                <!-- End Cart List Title -->
                <!-- Cart Single List list -->
                <div th:each="cartDetail : ${cartDetailList}" class="cart-single-list"
                     th:attr="data-book-id=${cartDetail.bookId}">
                    <div class="row align-items-center">
                        <div class="col-lg-1 col-md-1 col-12">
                            <a th:href="${cartDetail.bookImage}"><img th:src="${cartDetail.bookImage}" alt="#"></a>
                        </div>
                        <div class="col-lg-4 col-md-3 col-12">
                            <h5 class="product-name"><a th:href="@{'/book/' + ${cartDetail.bookId}}"
                                                        th:text="${cartDetail.name}">
                            </a></h5>
                            <p class="product-des">
                                <span class="stock" th:text="'잔여수량: ' + ${cartDetail.stock}"></span>
                                <span class="book-status" th:text="'도서상태: ' + ${cartDetail.sellingStatus}"></span>
                            </p></div>
                        <div class="quantity-input col-lg-2 col-md-2 col-12">
                            <button onclick="decreaseCounter(this)" class="minus-btn">-</button>
                            <p class="counter form-control quantity"
                               th:text="${cartDetail.cartDetailAmount}">0</p>
                            <button th:onclick="'increaseCounter(this,'+ ${cartDetail.stock} +')'" class="plus-btn">+
                            </button>
                        </div>
                        <div class="col-lg-2 col-md-2 col-12 ">
                            <p th:text="${#numbers.formatInteger(cartDetail.cost, 3, 'COMMA')}"></p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-12 " id="cost">
                            <p th:text="${#numbers.formatInteger(cartDetail.saleCost, 3, 'COMMA')}"></p>

                        </div>
                        <div class="col-lg-1 col-md-2 col-12">
                            <a class="remove-item" th:href="@{'/cart/delete?bookId=' + ${cartDetail.bookId}}"><i
                                    class="lni lni-close"></i></a>
                        </div>
                    </div>
                </div>
                <script th:inline="javascript">
                    function updateCounterDisplay(element, value) {
                        element.innerText = value;
                        updateTotalAmount();
                    }

                    function increaseCounter(button, stock) {
                        let counterElement = button.parentElement.querySelector('.counter');
                        let counterValue = parseInt(counterElement.innerText);
                        if (counterValue < stock) {
                            counterValue++;
                            updateCounterDisplay(counterElement, counterValue);
                        } else {
                            alert("재고가 부족합니다");
                        }
                    }

                    function decreaseCounter(button) {
                        let counterElement = button.parentElement.querySelector('.counter');
                        let counterValue = parseInt(counterElement.innerText);
                        if (counterValue > 1) {
                            counterValue--;
                            updateCounterDisplay(counterElement, counterValue);
                        }
                    }

                    function updateTotalAmount() {
                        let total = 0;
                        let counters = document.querySelectorAll('.counter');
                        let costs = document.querySelectorAll('#cost p');

                        for (let i = 0; i < counters.length; i++) {
                            let counterValue = parseInt(counters[i].innerText);

                            let costValue = parseInt(costs[i].innerText.replace(/[^0-9.]/g, ''));

                            total += counterValue * costValue;
                        }

                        // document.getElementById('totalAmount').innerText = total;

                        document.getElementById('totalAmount').innerText = total + '원';
                    }

                    async function orderAndRedirect() {
                        try {
                            document.getElementById('orderButton').disabled = true;
                            if (!await validateStatus()) {
                                alert("판매중이지 않은 도서가 있습니다.")
                                throw new Error("도서상태가 판매중이 아닙니다.");

                            }

                            if (await validateQuantity()) {
                                await orderItem();

                                window.location.href = "/cart/checkout";
                            } else {
                                alert("수량을 다시 설정 하세요");
                                throw new Error("주문 수량이 0 이하입니다");

                            }

                        } catch (error) {
                            console.error("주문 처리중에 에러가 벌생했다 : ", error.name);
                            window.location.href = "/cart";
                        }finally {
                            document.getElementById('orderButton').disabled = false;
                        }
                    }


                    function orderItem() {
                        return new Promise((resolve, reject) => {
                            let orderItems = [];
                            let cartItems = document.querySelectorAll('.cart-single-list');

                            cartItems.forEach(function (cartItem) {
                                let bookId = cartItem.getAttribute('data-book-id');
                                let amount = cartItem.querySelector('.counter').innerText;

                                orderItems.push({
                                    bookId: bookId,
                                    amount: amount
                                });
                            });

                            fetch('/cart/update', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(orderItems)
                            })
                                .then(response => {
                                    if (!response.ok) {
                                        throw new Error("수량을 업데이트 할때 에러가 발생했다");
                                    }
                                    resolve();
                                })
                                .catch(error => {
                                    reject(error);
                                });
                        });
                    }

                    async function validateStatus() {
                        return new Promise((resolve, reject) => {
                            let isValid = true;
                            let cartItems = document.querySelectorAll('.cart-single-list');

                            cartItems.forEach(async function (cartItem) {
                                let status = cartItem.querySelector('.book-status').innerText;

                                if (status !== "도서상태: 판매중") {
                                    isValid = false;
                                    let bookId = cartItem.getAttribute('data-book-id');

                                    try {
                                        await fetch('/cart/delete?bookId=' + bookId);
                                        cartItem.remove();
                                    } catch (error) {
                                        console.error("카트에서 도서 삭제하는 중에 오류가 발생 했다: ", error);
                                    }

                                }
                            });
                            resolve(isValid);
                        });
                    }

                    async function validateQuantity() {
                        return new Promise((resolve, reject) => {
                            let isValid = true;
                            let cartItems = document.querySelectorAll('.cart-single-list');

                            cartItems.forEach(function (cartItem) {
                                let quantity = parseInt(cartItem.querySelector('.counter').innerText);
                                let stock = parseInt(cartItem.querySelector('.stock').innerText);
                                if (quantity <= 0 || quantity > stock) {
                                    isValid = false;
                                    return;
                                }
                            });

                            resolve(isValid);
                        });
                    }

                </script>


                <div class="row">
                    <div class="col-12">
                        <!-- Total Amount -->
                        <div class="total-amount">
                            <div class="row">
                                <div class="col-lg-8 col-md-6 col-12">
                                    <!--                            <div class="left">-->
                                    <!--                                <div class="coupon">-->
                                    <!--                                    <form action="#" target="_blank">-->
                                    <!--                                        <input name="Coupon" placeholder="Enter Your Coupon">-->
                                    <!--                                        <div class="button">-->
                                    <!--                                            <button class="btn">Apply Coupon</button>-->
                                    <!--                                        </div>-->
                                    <!--                                    </form>-->
                                    <!--                                </div>-->
                                    <!--                            </div>-->                                </div>
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="right">
                                        <ul>
                                            <li class="last">총 주문금액
                                                <span th:text="${totalAmount}" id="totalAmount"></span>
                                            </li>
                                        </ul>
                                        <div class="button">
                                            <a id="orderButton" href="javascript:void(0);" class="btn"
                                               onclick="orderAndRedirect()">주문</a>
                                            <a href="/" class="btn btn-alt">계속 쇼핑하기</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>        updateTotalAmount();
    </script>
</div>

</html>