<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/my-books-layout}">

<style>
    .product-image img {
        width: 100%;
        height: auto;
    }
</style>
<div layout:fragment="content" class="border border-dark">
    <script>
        let url = "/category/category-display"
        let currentPage = [[${books.number}]]
        let totalPages = [[${books.totalPages}]]
    </script>
    <section class="product-grids section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12">
                    <div class="product-sidebar">
                        <div class="single-widget">
                            <h3>
                                <span th:text="${highestCategoryName}"></span>
                            </h3>
                            <ul th:each="levelTwoCategory : ${levelTwoCategories}">
                                <li>
                                    <a th:href="@{/category/category-display/{categoryId}(categoryId=${levelTwoCategory.id})}"
                                       th:text="${levelTwoCategory.name}"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-12">
                    <h3>
                        <span th:text="${name}"></span>
                    </h3>
                    <div class="product-grids-head">
                        <div class="product-grid-topbar" th:block th:if="${targetCategories.size() != 0}">
                            <div class="row align-items-center">
                                <div th:each="category, iterStat : ${targetCategories}" class="col-2 text-center">
                                    <a th:href="@{/category/category-display/{categoryId}(categoryId=${category.id})}"
                                       th:text="${category.name}">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-grid" role="tabpanel"
                                 aria-labelledby="nav-grid-tab">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-12" th:each="book : ${books.content}">
                                        <div class="single-product">
                                            <div class="product-image">
                                                <img class="product-image card-img-top "
                                                     th:src="${book.imageResponse.path + book.imageResponse.fileName + book.imageResponse.extension}"
                                                     alt="#">
                                            </div>
                                            <div class="product-info">
                                                <span class="category">Watches</span>
                                                <h4 class="title">
                                                    <a th:href="@{/book/{id}(id=${book.id})}"
                                                       th:text="${book.name}"></a>
                                                </h4>
                                                <ul class="review">
                                                    <li><i class="lni lni-star-filled"></i></li>
                                                    <li><i class="lni lni-star-filled"></i></li>
                                                    <li><i class="lni lni-star-filled"></i></li>
                                                    <li><i class="lni lni-star-filled"></i></li>
                                                    <li><i class="lni lni-star"></i></li>
                                                    <li><span>4.0 Review(s)</span></li>
                                                </ul>
                                                <div class="price">
                                                    <span th:text="${book.saleCost}"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3" th:block th:if="${books.totalPages > 1}">
            <div class="pagination">
                <div class="page-item">
                    <a class="page-link" id="prevLink" th:text="'<'" th:href="@{#}"></a>
                </div>
                <div class="pagination" id="pageNumContainer"></div>
                <div class="page-item">
                    <a class="page-link" id="nextLink" th:text="'>'" th:href="@{#}"></a>
                </div>
            </div>
        </div>
    </section>
    <script src="/admin/js/page/setPrevious.js"></script>
    <script src="/admin/js/page/setNext.js"></script>
    <script src="/admin/js/page/setLastPage.js"></script>
</div>