<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/my-books-layout}">

<div layout:fragment="content" class="border border-dark">
    <section class="product-grids section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12">
                    <div class="product-sidebar">
                        <div class="single-widget">
                            <h3>
                                <span th:text="${name}"></span>
                            </h3>
                            <ul th:each="levelTwoCategory : ${levelTwoCategories}">
                                <li>
                                    <a th:href="@{/category/category-display/{categoryId}(categoryId=${levelTwoCategory.id})}"
                                       th:text="${levelTwoCategory.name}"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-12">
                    <div class="product-grids-head">
                        <div class="product-grid-topbar" th:block th:if="${targetCategories.size() != 0}">
                            <div class="row">
                                <div th:each="category, iterStat : ${targetCategories}" class="col">
                                    <a th:href="@{/category/category-display/{categoryId}(categoryId=${category.id})}"
                                       th:text="${category.name}"></a>
                                    <div th:if="${iterStat.count % 5 == 0}" class="w-100">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--                <div class="col-lg-9 col-12">-->
                <!--                    <div class="product-grids-head">-->
                <!--                        <div class="product-grid-topbar" th:block th:if="${targetCategories.size() != 0}">-->
                <!--                            <div class="row align-items-center">-->
                <!--                                <ul th:each="targetCategory : ${targetCategories}">-->
                <!--                                    <li>-->
                <!--                                        <a th:href="@{/category/category-display/{categoryId}(categoryId=${targetCategory.id})}" th:text="${targetCategory.name}"></a>-->
                <!--                                    </li>-->
                <!--                                </ul>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
        </div>
    </section>
    <!--    <h3>-->
    <!--        <span th:text="${name}"></span>-->
    <!--    </h3>-->
    <!--    <div class="single-widget">-->
    <!--        <ul th:each="levelTwoCategory : ${levelTwoCategories}">-->
    <!--            <li>-->
    <!--                <a th:href="@{/category/category-display/{categoryId}(categoryId=${levelTwoCategory.id})}" th:text="${levelTwoCategory.name}"></a>-->
    <!--            </li>-->
    <!--        </ul>-->
    <!--    </div>-->
    <!--    <div class="container">-->
    <!--        <div class="row">-->
    <!--            <div th:each="category, iterStat : ${targetCategories}" class="col">-->
    <!--                <span th:text="${category.name}">-->
    <!--                    <a th:href="@{/category/category-display/{categoryId}(categoryId=${category.id})}"></a>-->
    <!--                </span>-->
    <!--                <div th:if="${iterStat.count % 5 == 0}" class="w-100"></div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
</div>