<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/my-books-layout}">

<style>
    .product-image img {
        width: 100%;
        height: auto;
    }
</style>
<div layout:fragment="content" class="border border-dark">
    <script>
        let url = "/category/category-display"
        let currentPage = [[${books.number}]]
        let totalPages = [[${books.totalPages}]]
    </script>
    <section class="product-grids section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12">
                    <div class="product-sidebar">
                        <div class="single-widget">
                            <h3>
                                <span th:text="${highestCategoryName}"></span>
                            </h3>
                            <ul th:each="levelTwoCategory : ${levelTwoCategories}">
                                <li>
                                    <a th:href="@{/category/category-display/{categoryId}(categoryId=${levelTwoCategory.id})}"
                                       th:text="${levelTwoCategory.name}"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-12">
                    <h3>
                        <span th:text="${name}"></span>
                    </h3>
                    <div class="product-grids-head">
                        <div class="product-grid-topbar" th:block th:if="${targetCategories.size() != 0}">
                            <div class="row align-items-center">
                                <div th:each="category, iterStat : ${targetCategories}" class="col-2 text-center">
                                    <a th:href="@{/category/category-display/{categoryId}(categoryId=${category.id})}"
                                       th:text="${category.name}">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content center" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-grid" role="tabpanel"
                                 aria-labelledby="nav-grid-tab">
                                <div class="row mt-3">
                                    <div th:each="book, iterStat: ${books.content}" class="col-lg-3 col-md-6 col-12 ">
                                        <div class="single-product card h-100">
                                            <div class="product-image">
                                                <img class="product-image card-img-top"
                                                     th:src="${book.image}"
                                                     alt="#">
                                                <div class="button">
                                                    <form action="/cart/add" method="post">
                                                        <input type="hidden" name="id" th:value="${book.id}">
                                                        <input type="hidden" name="cost" th:value="${book.cost}">
                                                        <input type="hidden" name="saleCost"
                                                               th:value="${book.saleCost}">
                                                        <input type="hidden" name="quantity" value=1>
                                                        <button type="submit" class="lni lni-cart btn">Add to Cart
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <h4 class="title">
                                                    <a th:href="@{'/book/' + ${book.id}}" th:text="${book.name}"></a>
                                                </h4>

                                                <th:block th:with="roundedRate=${T(java.lang.Math).floor(book.rate)}">
                                                    <ul class="review">
                                                        <li th:each="star, reviewIterStat: ${#numbers.sequence(1, 5)}">

                                                            <i class="lni"
                                                               th:classappend="${roundedRate >= reviewIterStat.index +1 ? 'lni-star-filled' : 'lni-star'}"></i>
                                                        </li>

                                                        <li><span th:text="${book.rate}"></span></li>
                                                    </ul>
                                                </th:block>
                                                <p>리뷰 수 : <span th:text=" ${book.reviewCount}"></span></p>
                                                <div class="price">
                                                    <span class="sale-cost" th:text="${#numbers.formatInteger(book.saleCost, 1, 'COMMA')} + '원'  "></span>
                                                    <s class="regular-cost"
                                                       th:text="${#numbers.formatInteger(book.cost, 1, 'COMMA')} + '원'"></s>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3" th:block th:if="${books.totalPages > 1}">
            <div class="pagination">
                <div class="page-item">
                    <a class="page-link" id="prevLink" th:text="'<'" th:href="@{#}"></a>
                </div>
                <div class="pagination" id="pageNumContainer"></div>
                <div class="page-item">
                    <a class="page-link" id="nextLink" th:text="'>'" th:href="@{#}"></a>
                </div>
            </div>
        </div>
    </section>
    <script src="/admin/js/page/setPrevious.js"></script>
    <script src="/admin/js/page/setNext.js"></script>
    <script src="/admin/js/page/setLastPage.js"></script>
</div>