<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>쿠폰 선택</title>
    <th:block th:replace="common/fragment/my-book/config/my-books-config::configFragment1"/>

</head>
<body>
<div class="checkout-payment-option">
    <div id="coupon-view" class="payment-option-wrapper">
        <div class="single-payment-option coupon-view" th:each="coupon, index:${couponList}">
            <label class="coupon-row">
                <input type="radio" class="border-1" th:id="${index.index}" name="coupon-radio"
                       th:value="${coupon.name}" onclick="updateCouponValue(this)">
                <label th:for="${index.index}" class="coupon-label">
                    <input type="hidden" th:id="${coupon.userCouponId}" class="coupon-id-form">

                    <span th:text="'쿠폰이름: '+${coupon.name}"></span>
                    <span th:text="'최소 주문 금액: '+${coupon.orderMin}"></span>
                    <th:block th:if="${coupon.isRate == true}">
                        <label>
                            <span class="price" th:data-check="${coupon.rate}"
                                  th:text="${coupon.discountRateOrCost}"></span>
                            <span>%</span>
                        </label>
                    </th:block>
                    <th:block th:if="${coupon.rate == false}">
                        <label>
                            <span class="price" th:data-check="${coupon.rate}"
                                  th:text="${coupon.discountRateOrCost}"></span>
                            <span>원</span>
                        </label>
                    </th:block>
                    <span th:text="'최대 할인 금액:'+${coupon.maxDiscountCost}"></span>
                </label>
            </label>
        </div>
        <button type="button" id="coupon-btn" class="btn btn-outline-primary btn-sm"
                th:value="${id}"
                onclick="sendCoupon(this)">선택
        </button>
        <input type="text" id="before-data">
    </div>
</div>
<script>
    function sendCoupon(button) {
        const beforecouponCost = opener.document.getElementsByClassName('select-coupon-cost')[button.value].value;
        const couponName = document.getElementById('coupon-btn').getAttribute('coupon-name');
        const couponCost = document.getElementById('coupon-btn').getAttribute('coupon-cost');
        const selectId = document.getElementById('coupon-btn').getAttribute('radio-id');
        const bookTotalCost = opener.document.getElementById('input-total-cost').value;
        const check = document.getElementById('coupon-btn').getAttribute('coupon-rate');
        const bookSale = opener.document.getElementsByClassName('book-sale-cost')[0].textContent;
        let saleCost;


        if (!beforecouponCost) { // 행의 처음 선택 했을 때
            opener.document.getElementsByClassName('select-coupon-cost')[button.value].value = couponCost;
        } else {
            opener.document.getElementById("coupon-cost").value = parseInt(opener.document.getElementById("coupon-cost").value)
                - (parseInt(bookSale) * parseInt(beforecouponCost) / 100);
        }

        opener.document.querySelectorAll('p[class="select-coupon-name"]')[button.value].textContent = couponName
        opener.document.querySelectorAll('.select-coupon-id')[button.value].value = selectId;
        alert(couponCost)
        if (check) {
            alert(bookSale); // 판매가
            alert(beforecouponCost); // 전의 가격
            saleCost = parseInt((parseInt(bookSale) * parseInt(couponCost)) / 100)
            alert("퍼센트")
            alert(typeof 123 * 10 / 100)
            alert(parseInt(saleCost))
        } else {
            saleCost = parseInt(bookSale)
        }

        alert(opener.document.getElementById("coupon-cost").value)

        if (opener.document.getElementById("coupon-cost").value === "0") {
            opener.document.getElementsByClassName('select-coupon-cost')[button.value].value = couponCost;
            alert(opener.document.getElementsByClassName('select-coupon-cost')[button.value].value)
            opener.document.getElementById("coupon-cost").value = couponCost;
        } else {
            opener.document.getElementById("coupon-cost").value = parseInt(couponCost) + parseInt(opener.document.getElementById("coupon-cost").value);
            alert(opener.document.getElementById("coupon-cost").value)
            opener.document.getElementsByClassName('select-coupon-cost')[button.value].value = couponCost;
            alert(opener.document.getElementsByClassName('select-coupon-cost')[button.value].value)
        }
        alert(opener.document.getElementById("coupon-cost").value)
        opener.document.getElementById('totalCost').textContent = (parseInt(bookTotalCost) - parseInt(opener.document.getElementById("coupon-cost").value) -
            parseInt(opener.document.getElementById('user-point').value)).toString()

        window.close()
    }
</script>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const selectedCouponId = opener.document.querySelectorAll(".select-coupon-id");
        const coupon = document.querySelectorAll(".coupon-id-form");

        selectedCouponId.forEach(function (input) {
            const x = input.value
            for (const c of coupon) {
                if (c.id === x) {
                    const x = c.parentElement.parentElement.querySelector('label[class="coupon-label"]')
                    x.parentElement.parentElement.removeChild(x.parentElement)
                    return false
                }
            }

        })

    })

    function updateCouponValue(radio) {
        const couponBtn = document.getElementById('coupon-btn');
        const coupon = radio.parentElement.querySelector('.price');
        const couponId = radio.parentElement.querySelector('input[class="coupon-id-form"]').id
        // const selectCouponId = radio.parentElement.querySelector().id
        couponBtn.setAttribute('coupon-name', radio.value);
        couponBtn.setAttribute('coupon-cost', coupon.innerText);
        couponBtn.setAttribute('radio-id', couponId)
        couponBtn.setAttribute('coupon-rate', coupon.getAttribute('data-check'))
    }
</script>
</body>
</html>