<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/my-books-layout}">

<div layout:fragment="content">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox  */
        input[type='number'] {
            -moz-appearance: textfield;
        }

        button {
            background-color: white; /* 배경색 */
            color: black; /* 텍스트 색상 */
            padding: 10px 20px; /* 내부 여백 */
            border: none; /* 테두리 없음 */
            border-radius: 5px; /* 테두리 반경 */
            cursor: pointer; /* 마우스 커서 */
            font-size: 16px; /* 폰트 크기 */
            font-family: 'Open Sans', sans-serif; /* 폰트 적용 */

        }

        /* 버튼에 마우스를 올렸을 때 스타일 */
        button:hover {
            background-color: #f1f1f1; /* 배경색 변경 */
        }
    </style>
    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">주문/결제</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a href="/"><i class="lni lni-home"></i> Home</a></li>
                        <li><a href="index.html">Shop</a></li>
                        <li>주문/결제</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!--====== Checkout Form Steps Part Start ======-->
    <section class="checkout-wrapper section">
        <div class="container w-1000">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <form id="order-pay-form" action="/direct/order" method="post">
                        <div class="checkout-steps-form-style-1">
                            <ul id="accordionExample">
                                <li>
                                    <!--                                    <th:block th:if="${direct == turn}"></th:block>-->
                                    <th:block th:if="${check == true}">


                                        <h5>구매자 정보 </h5>
                                        <section>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="single-form form-default">
                                                        <!-- 로그인 된 회원의 데이터 -->
                                                        <label>이름</label>
                                                        <div class="row">
                                                            <div class="col-md-6 form-input form">
                                                                <label>
                                                                    <input name="userInfo.userName" type="text"
                                                                           th:value="${user.name}"
                                                                           readonly>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="single-form form-default">
                                                        <label>이메일</label>
                                                        <div class="col-md-6 form-input form">
                                                            <input type="text" name="userInfo.email"
                                                                   th:value="${user.email}"
                                                                   readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="single-form form-default">
                                                        <label>휴대폰 번호</label>
                                                        <div class="col-md-6 form-input form">
                                                            <input type="text" th:value="${user.phoneNumber}"
                                                                   name="userInfo.phoneNumber" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </th:block>
                                    <th:block th:if="${check != true}">
                                        <h5>구매자 정보</h5>
                                        <div class="col-md-12">
                                            <div class="single-form form-default">
                                                <!-- 로그인 된 회원의 데이터 -->
                                                <label>이름</label>
                                                <div class="row">
                                                    <div class="col-md-6 form-input form">
                                                        <label>
                                                            <input name="userInfo.userName" type="text">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="single-form form-default">
                                                <label>이메일</label>
                                                <div class="col-md-6 form-input form">
                                                    <input type="text" name="userInfo.email">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="single-form form-default">
                                                <label>휴대폰 번호</label>
                                                <div class="col-md-6 form-input form">
                                                    <input type="text" name="userInfo.phoneNumber">
                                                </div>
                                            </div>
                                        </div>
                                        <section>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="single-form form-default">
                                                        <label>주문 코드 입력</label>
                                                        <div class="row">
                                                            <div class="col-md-6 form-input form">
                                                                <label style="display: flex;">
                                                                    <input name="userInfo.userName" type="text"
                                                                           placeholder="1~6자리까지 입력하세요" style="flex: 1;">
                                                                    <button type="button">중복 확인</button>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </th:block>
                                </li>
                                <li>
                                    <h5>받는 사람 정보</h5>
                                    <hr>
                                    <section>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="single-form form-default">
                                                    <label>이름</label>
                                                    <div class="row">
                                                        <div class="col-md-6 form-input form">
                                                            <input name="orderInfo.recipientName" type="text"
                                                                   placeholder="이름">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="single-form form-default">
                                                    <label>휴대폰 번호</label>
                                                    <div class="form-input form">
                                                        <input name="orderInfo.recipientPhoneNumber" type="text"
                                                               placeholder="휴대폰 번호">
                                                    </div>
                                                </div>
                                            </div>

                                            <th:block th:if="${check==true}">
                                                <div>
                                                    <div class="col-md-8">
                                                        <div class="single-form form-default">
                                                            <label>받는 주소
                                                                <button class="btn btn-outline-secondary btn-sm"
                                                                        type="button"
                                                                        onclick="address()">배송지
                                                                </button>
                                                            </label>
                                                            <div class="form-input form">
                                                                <input id="delivery-address-id"
                                                                       name="userInfo.addressId"
                                                                       type="hidden">
                                                                <input id="delivery-address"
                                                                       name="orderInfo.recipientAddress"
                                                                       type="text"
                                                                       placeholder="배송지"
                                                                       readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </th:block>
                                            <th:block th:if="${check!=true}">
                                                <div>
                                                    <div class="col-md-8">
                                                        <div class="single-form form-default">
                                                            <label>
                                                                <h6>받는 주소</h6>
                                                            </label>
                                                            <div class="form-group">
                                                                <label for="sample6_postcode">우편번호</label>
                                                                <div class="input-group">
                                                                    <input type="text" id="sample6_postcode"
                                                                           class="form-control"
                                                                           name="number" placeholder="우편번호" readonly>
                                                                    <button type="button" class="btn btn-primary"
                                                                            onclick="registerRegister()">우편번호 찾기
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="sample6_address">주소</label>
                                                                <input type="text" id="sample6_address"
                                                                       class="form-control" name="roadName"
                                                                       placeholder="주소" readonly>
                                                                <small class="form-text text-muted">(지번주소 입력시 도로명 주소로 자동
                                                                    변환됩니다)</small>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="sample6_detailAddress">상세주소</label>
                                                                <input type="text" id="sample6_detailAddress"
                                                                       class="form-control"
                                                                       name="detail" placeholder="상세주소" required>
                                                            </div>
                                                            <input type="hidden" id="non-user-address"
                                                                   name="orderInfo.recipientAddress"
                                                            >
                                                            <div class="form-group">
                                                                <label for="sample6_extraAddress">참고항목</label>
                                                                <input type="text" id="sample6_extraAddress"
                                                                       name="reference"
                                                                       class="form-control" placeholder="참고항목" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </th:block>

                                        </div>
                                    </section>
                                </li>
                                <li>
                                    <h5>주문 내역
                                    </h5>
                                    <section class="form-content">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="p-3 m-3">
                                                    <table class="table">
                                                        <thead>
                                                        <tr>

                                                            <th class="col-4">책 이름</th>
                                                            <th class="col-1">정가</th>
                                                            <th class="col-1">판매가</th>
                                                            <th class="col-1">수량</th>
                                                            <th class="col-1">합계</th>
                                                            <th class="col-1">포장</th>
                                                            <th:block th:if="${check==true}">
                                                                <th class="col-1">쿠폰</th>
                                                                <th class="col-1"></th>
                                                            </th:block>
                                                            <th class="col-1"></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody th:each="book, index:${bookLists}">
                                                        <tr th:id="${index.index}" class="name">
                                                            <input th:name="|bookInfoList[${index.index}].bookId|"
                                                                   type="hidden"
                                                                   th:value="${book.id}"/>
                                                            <input th:name="|bookInfoList[${index.index}].saleCost|"
                                                                   type="hidden"
                                                                   th:value="${book.saleCost}"/>

                                                            <td>
                                                                <label>
                                                                    <img th:src="${book.bookImage}" alt="#" width="50"
                                                                         height="50">
                                                                    <span th:text="${book.name}">

                                                                </span>
                                                                </label>
                                                            </td>
                                                            <td th:text="${book.originalCost}"></td>
                                                            <td th:text="${book.saleCost}">
                                                            </td>
                                                            <td>

                                                                <div>
                                                                    <label>
                                                                        <span th:text="${quantity}">
                                                                        </span>
                                                                        <input id="quantity"
                                                                               th:name="|bookInfoList[${index.index}].amount|"
                                                                               th:value="${quantity}"
                                                                               type="hidden"/>
                                                                    </label>
                                                                </div>
                                                            </td>

                                                            <td>
                                                                <label>
                                                                    <span th:text="${totalCost} "></span>
                                                                    <input class="book-sale-cost"
                                                                           th:name="|bookInfoList[${index.index}].bookCost|"
                                                                           th:value="${totalCost}"
                                                                           type="hidden">
                                                                </label>
                                                            </td>
                                                            <td class="form-text">
                                                                <input class="select-wrap"
                                                                       th:name="|bookInfoList[${index.index}].selectWrapId|"
                                                                       type="hidden">
                                                                <p class="select-wrap-name"></p>

                                                                <!-- 포장지 가격 -->
                                                                <input class="select-wrap-cost" name="select-wrap-cost"
                                                                       type="hidden">
                                                            </td>
                                                            <th:block th:if="${check == true}">

                                                                <td class="form-text">
                                                                    <input class="select-coupon-id"
                                                                           th:name="|bookInfoList[${index.index}].selectCouponId|"
                                                                           type="hidden">
                                                                    <p class="select-coupon-name"></p>

                                                                    <input class="select-coupon-cost"
                                                                           name="select-coupon-cost"
                                                                           type="hidden">
                                                                </td>
                                                                <td>
                                                                    <button id="coupon-button" type="button"
                                                                            class="button btn-primary btn-sm"
                                                                            name="coupon-button"
                                                                            th:value="${book.id}"
                                                                            onclick="clickCoupon(this)">쿠폰
                                                                    </button>
                                                                </td>
                                                            </th:block>
                                                            <td>
                                                                <button th:id="'wrap-botton-'+${index.index}"
                                                                        type="button"
                                                                        onclick="wrap(this)"
                                                                        class="button btn-primary btn-sm wt">포장
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </li>
                                <th:block th:if="${check == true}">
                                    <li>
                                        <h5>포인트 사용</h5>
                                        <section class="form-control">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div>
                                                        <label>
                                                            <p th:if="${point==null}" th:text="'보유 포인트: 0'"></p>
                                                            <p th:if="${point!=null}"
                                                               th:text="'보유 포인트: '+ ${point}"></p>
                                                            <input id="user-point" type="number" placeholder="포인트 사용"
                                                                   min="0" value="0" name="orderInfo.usingPoint"
                                                                   th:max="${point}">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </li>
                                </th:block>
                                <li>
                                    <h5>배송</h5>
                                    <section class="form-control">
                                        <div>
                                            <h6> 배송 날짜</h6>
                                            <label>
                                                <input type="date" id="delivery-date-id" th:min="${localDate}"
                                                       name="orderInfo.deliveryDate"

                                                       required>
                                                <label for="delivery-date-id" id="delivery-date-label"></label>
                                            </label>
                                        </div>
                                        <div class="md-form amber-textarea active-amber-textarea">
                                            <h6>배송 시 요청 사항</h6>
                                            <label class="form-label">
                                                <textarea id="receiver-message" class="form-control" rows="3"
                                                          name="orderInfo.receiverMessage" required></textarea>
                                            </label>
                                        </div>
                                        <div>
                                            <h6>
                                                배송 비
                                            </h6>
                                            <th:block th:if="${delivery.ruleCost} < ${totalCost}">
                                                                <span th:text="${delivery.cost}">
                                                                </span>
                                            </th:block>
                                            <th:block th:if="${delivery.ruleCost} > ${totalCost}">
                                                <span>0원</span>
                                            </th:block>
                                            <label>
                                                <input name="orderInfo.deliveryId" type="hidden"
                                                       th:value="${delivery.id}">
                                            </label>
                                        </div>
                                    </section>
                                </li>
                                <li>
                                    <h5>결제</h5>
                                    <hr>
                                    <section class="form-content">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="checkout-payment-form">
                                                    <div class="single-form form-default">
                                                        <label>결제 금액</label>
                                                        <div class="form-text">
                                                            <span id="totalCost" th:text="${totalCost}"></span>
                                                            <input id="input-total-cost" th:value="${totalCost}"
                                                                   type="hidden"/>
                                                        </div>
                                                    </div>
                                                    <div class="single-form form-default">
                                                        <label>포장 비용</label>
                                                        <div class="form-text">
                                                            <input type="number" id="wrap-cost" value="0"
                                                                   class="form-control w-25" name="orderInfo.wrapCost"
                                                                   readonly/>
                                                        </div>
                                                    </div>
                                                    <th:block th:if="${check==true}">
                                                        <div class="single-form form-default">
                                                            <label>쿠폰 적용 금액</label>
                                                            <div class="form-text">
                                                                <label>
                                                                    <input id="coupon-cost" type="number"
                                                                           class="form-control w-50"
                                                                           name="orderInfo.couponApplicationAmount"
                                                                           value="0" readonly>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </th:block>
                                                    <div class="single-form form-default button">


                                                        <button type="submit" id="pay-btn">pay
                                                            now
                                                        </button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script src="/assets/js/order/direct-order.js"></script>
    <script src="/assets/js/order/order.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        // 현재 날짜 가져오기
        var today = new Date();

        // 2주 뒤의 날짜 계산
        var twoWeeksLater = new Date();
        twoWeeksLater.setDate(today.getDate() + 14);
        console.log(twoWeeksLater)

        // yyyy-MM-dd 형식으로 변환 (input의 value 속성 값에 들어갈 형식)
        var formattedToday = today.toISOString().slice(0, 10);
        console.log(formattedToday)
        var formattedTwoWeeksLater = twoWeeksLater.toISOString().slice(0, 10);

        // input 태그에 min과 max 속성 설정
        var inputDate = document.getElementById("delivery-date-id");
        inputDate.setAttribute("min", formattedToday);
        inputDate.setAttribute("max", formattedTwoWeeksLater);

        function registerRegister() {
            new daum.Postcode({
                oncomplete: function (data) {
                    var addr = ''; // 주소 변수
                    var extraAddr = ''; // 참고항목 변수

                    // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else if (data.userSelectedType === 'J') { // 사용자가 지번 주소를 선택했을 경우에도 도로명주소를
                        addr = data.roadAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraAddr += data.bname;
                    }
                    if (data.buildingName !== '' && data.apartment === 'Y') {
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    if (extraAddr !== '') {
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    document.getElementById("sample6_extraAddress").value = extraAddr;


                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('sample6_postcode').value = data.zonecode;
                    document.getElementById("sample6_address").value = addr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("sample6_detailAddress").focus();
                }
            }).open();
        }


    </script>
</div>
</html>