<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/my-books-layout}">

<div layout:fragment="content">
    
    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->

    <!-- Start Error Area -->
    <div class="error-area">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="error-content">
                        <h1>Error</h1>
                        <h2>예기치 못한 에러가 발생했습니다</h2>
                        <p>사용에 불편을 드려 죄송합니다</p>
                        <p th:text="${errorMessage}"></p>
                        <div class="button">
                            <a href="/" class="btn">홈 페이지로</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


</html>
