<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/my-books-layout}">


<div layout:fragment="content">
    <style>
        .regular-cost {
            text-decoration: line-through;
        }

        .prd .tab-class .nav-item a.active {
            background: var(--bs-secondary) !important;
        }

        .prd .tab-class .nav-item a.active span {
            color: var(--bs-white) !important;
        }

        .owl-carousel, .owl-carousel .owl-item {
            -webkit-tap-highlight-color: transparent;
            position: relative
        }

        .owl-carousel {
            display: none;
            width: 100%;
            z-index: 1
        }

    </style>
    <!-- Start Hero Area -->
    <section class="hero-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12 custom-padding-right">
                    <div class="slider-head">
                        <!-- Start Hero Slider -->
                        <div class="hero-slider">
                            <!-- Start Single Slider -->
                            <div class="single-slider"
                                 style="background-image: url(https://kr1-api-object-storage.nhncloudservice.com/v1/AUTH_e805e9a72d2f47338a0a463196c36314/my-books-container/logo/%E1%84%92%E1%85%A8%E1%84%90%E1%85%A2%E1%86%A8coupon.png);">
                                <div class="content">
                                    <h2><span></span>

                                    </h2>
                                    <p>
                                    </p>
                                    <h3><span></span></h3>

                                </div>
                            </div>
                            <!-- End Single Slider -->
                            <!-- Start Single Slider -->
                            <div class="single-slider"
                                 style="background-image: url(https://kr1-api-object-storage.nhncloudservice.com/v1/AUTH_e805e9a72d2f47338a0a463196c36314/my-books-container/logo/bookimage1.png);">
                                <div class="content">
                                    <h2><span></span>
                                    </h2>
                                    <p></p>
                                    <h3><span></span></h3>

                                </div>
                            </div>
                            <!-- End Single Slider -->
                        </div>
                        <!-- End Hero Slider -->
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-12 md-custom-padding">
                            <!-- Start Small Banner -->
                            <div class="hero-small-banner"
                                 style="background-image: url('https://via.placeholder.com/370x250');">
                                <div class="content">
                                    <h2>
                                        <span>New line required</span>
                                        iPhone 12 Pro Max
                                    </h2>
                                    <h3>$259.99</h3>
                                </div>
                            </div>
                            <!-- End Small Banner -->
                        </div>
                        <div class="col-lg-12 col-md-6 col-12">
                            <!-- Start Small Banner -->
                            <div class="hero-small-banner style2">
                                <div class="content">
                                    <h2>Weekly Sale!</h2>
                                    <p>Saving up to 50% off all online store items this week.</p>
                                    <div class="button">
                                        <a class="btn" href="product-grids.html">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Start Small Banner -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero Area -->

    <!-- Start Featured Categories Area -->
    <section class="featured-categories prd trending-product section" style="padding-top: 0px; padding-bottom: 0px">
        <div class="container py-5">
            <div class="text-center tab-class" style="height: 200px">
                <div class="row g-4 section-title">
                    <h2>책상의 거장들</h2>
                    <p>누적 랭킹을 통한 통찰력</p>
                </div>
                <div class="col-lg-4 text-start ">
                </div>
                <div class="col-lg-8 text-end">
                    <ul class="nav nav-pills d-inline-flex text-center mb-5">
                        <li class="nav-item">
                            <a class="d-flex m-2 py-2 bg-light rounded-pill active" data-bs-toggle="pill" href="#tab-1">
                                <span class="text-dark" style="width: 130px;">평점 높은 순</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex m-2 py-2 bg-light rounded-pill" data-bs-toggle="pill" href="#tab-2">
                                <span class="text-dark" style="width: 130px;">리뷰 많은 순</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex m-2 py-2 bg-light rounded-pill" data-bs-toggle="pill" href="#tab-3">
                                <span class="text-dark" style="width: 130px;">좋아요 많은 순</span>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>


            <div class="tab-content center">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row mt-3">
                        <div th:each="book, iterStat: ${ratingList}" class="col-lg-3 col-md-6 col-12 ">
                            <div class="single-product card h-100">
                                <div class="product-image">
                                    <img class="product-image card-img-top"
                                         th:src="${book.image}"
                                         alt="#">
                                    <div class="button">
                                        <form action="/cart/add" method="post">
                                            <input type="hidden" name="id" th:value="${book.id}">
                                            <input type="hidden" name="cost" th:value="${book.cost}">
                                            <input type="hidden" name="saleCost" th:value="${book.saleCost}">
                                            <input type="hidden" name="quantity" value=1>
                                            <button type="submit" class="lni lni-cart btn">Add to Cart</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h4 class="title">
                                        <span th:text="${iterStat.count + '. '}" class="emphasis"></span>
                                        <a th:href="@{'/book/' + ${book.id}}" th:text="${book.name}"></a>
                                    </h4>

                                    <th:block th:with="roundedRate=${T(java.lang.Math).floor(book.rate)}">
                                        <ul class="review">
                                            <li th:each="star, reviewIterStat: ${#numbers.sequence(1, 5)}">

                                                <i class="lni"
                                                   th:classappend="${roundedRate >= reviewIterStat.index +1 ? 'lni-star-filled' : 'lni-star'}"></i>
                                            </li>

                                            <li><span th:text="${book.rate}"></span></li>
                                        </ul>
                                    </th:block>
                                    <p>리뷰 수 : <span th:text=" ${book.reviewCount}"></span></p>
                                    <div class="price">
                                        <span class="sale-cost"
                                              th:text="${#numbers.formatInteger(book.saleCost, 1, 'COMMA')} + '원'  "></span>
                                        <s class="regular-cost"
                                           th:text="${#numbers.formatInteger(book.cost, 1, 'COMMA')} + '원'"></s>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-2" class="tab-pane fade show p-0">
                    <div class="row mt-3">
                        <div th:each="book, iterStat: ${reviewList}" class="col-lg-3 col-md-6 col-12">
                            <div class="single-product card h-100">
                                <div class="product-image">
                                    <img class="product-image card-img-top"
                                         th:src="${book.image}"
                                         alt="#">
                                    <div class="button">
                                        <form action="/cart/add" method="post">
                                            <input type="hidden" name="id" th:value="${book.id}">
                                            <input type="hidden" name="cost" th:value="${book.cost}">
                                            <input type="hidden" name="saleCost" th:value="${book.saleCost}">
                                            <input type="hidden" name="quantity" value=1>
                                            <button type="submit" class="lni lni-cart btn">Add to Cart</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h4 class="title">
                                        <span th:text="${iterStat.count + '. '}" class="emphasis"></span>
                                        <a th:href="@{'/book/' + ${book.id}}" th:text="${book.name}"></a>
                                    </h4>

                                    <th:block th:with="roundedRate=${T(java.lang.Math).floor(book.rate)}">
                                        <ul class="review">
                                            <li th:each="star, reviewIterStat: ${#numbers.sequence(1, 5)}">

                                                <i class="lni"
                                                   th:classappend="${roundedRate >= reviewIterStat.index +1 ? 'lni-star-filled' : 'lni-star'}"></i>
                                            </li>

                                            <li><span th:text="${book.rate}"></span></li>
                                        </ul>
                                    </th:block>
                                    <p>리뷰 수 : <span th:text=" ${book.reviewCount}"></span></p>
                                    <div class="price">
                                        <span class="sale-cost"
                                              th:text="${#numbers.formatInteger(book.saleCost, 1, 'COMMA')} + '원'  "></span>
                                        <s class="regular-cost"
                                           th:text="${#numbers.formatInteger(book.cost, 1, 'COMMA')} + '원'"></s>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-3" class="tab-pane fade show p-0">
                    <div class="row mt-3">
                        <div th:each="book, iterStat: ${likeList}" class="col-lg-3 col-md-6 col-12">
                            <div class="single-product card h-100">
                                <div class="product-image">
                                    <img class="product-image card-img-top"
                                         th:src="${book.image}"
                                         alt="#">
                                    <div class="button">
                                        <form action="/cart/add" method="post">
                                            <input type="hidden" name="id" th:value="${book.id}">
                                            <input type="hidden" name="cost" th:value="${book.cost}">
                                            <input type="hidden" name="saleCost" th:value="${book.saleCost}">
                                            <input type="hidden" name="quantity" value=1>
                                            <button type="submit" class="lni lni-cart btn">Add to Cart</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h4 class="title">
                                        <span th:text="${iterStat.count + '. '}" class="emphasis"></span>
                                        <a th:href="@{'/book/' + ${book.id}}" th:text="${book.name}"></a>
                                    </h4>

                                    <th:block th:with="roundedRate=${T(java.lang.Math).floor(book.rate)}">
                                        <ul class="review">
                                            <li th:each="star, reviewIterStat: ${#numbers.sequence(1, 5)}">

                                                <i class="lni"
                                                   th:classappend="${roundedRate >= reviewIterStat.index +1 ? 'lni-star-filled' : 'lni-star'}"></i>
                                            </li>

                                            <li><span th:text="${book.rate}"></span></li>
                                        </ul>
                                    </th:block>
                                    <p>리뷰 수 : <span th:text=" ${book.reviewCount}"></span></p>
                                    <div class="price">
                                        <span class="sale-cost"
                                              th:text="${#numbers.formatInteger(book.saleCost, 1, 'COMMA')} + '원'  "></span>
                                        <s class="regular-cost"
                                           th:text="${#numbers.formatInteger(book.cost, 1, 'COMMA')} + '원'"></s>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>


    <!-- Start Trending Product Area -->
    <section class="trending-product section" style="padding-bottom: 0px; padding-top: 40px">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>일간 인기 상품 순위!</h2>
                        <p>인기 상품! 뭐가 있을까?</p><br/>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div th:each="book, iterStat: ${popularList}" class="col-lg-3 col-md-6 col-12">
                    <div class="single-product card h-100">
                        <div class="product-image">
                            <img class="product-image card-img-top"
                                 th:src="${book.image}"
                                 alt="#">
                            <div class="button">
                                <form action="/cart/add" method="post">
                                    <input type="hidden" name="id" th:value="${book.id}">
                                    <input type="hidden" name="cost" th:value="${book.cost}">
                                    <input type="hidden" name="saleCost" th:value="${book.saleCost}">
                                    <input type="hidden" name="quantity" value=1>
                                    <button type="submit" class="lni lni-cart btn">Add to Cart</button>
                                </form>
                            </div>
                        </div>
                        <div class="product-info">
                            <h4 class="title">
                                <span th:text="${iterStat.count + '. '}" class="emphasis"></span>
                                <a th:href="@{'/book/' + ${book.id}}" th:text="${book.name}"></a>
                            </h4>

                            <th:block th:with="roundedRate=${T(java.lang.Math).floor(book.rate)}">
                                <ul class="review">
                                    <li th:each="star, reviewIterStat: ${#numbers.sequence(1, 5)}">

                                        <i class="lni"
                                           th:classappend="${roundedRate >= reviewIterStat.index +1 ? 'lni-star-filled' : 'lni-star'}"></i>
                                    </li>

                                    <li><span th:text="${book.rate}"></span></li>
                                </ul>
                            </th:block>
                            <p>리뷰 수 : <span th:text=" ${book.reviewCount}"></span></p>
                            <div class="price">

                                <span class="sale-cost"
                                      th:text="${#numbers.formatInteger(book.saleCost, 1, 'COMMA')} + '원'  "></span>
                                <s class="regular-cost"
                                   th:text="${#numbers.formatInteger(book.cost, 1, 'COMMA')} + '원'"></s>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--    &lt;!&ndash; Start Special Offer &ndash;&gt;-->
    <section class="special-offer section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>새로 나온 책!</h2>
                        <p>새로 나온 책! 뭐가 있을까?</p><br/>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div th:each="book, iterStat: ${publicationList}" class="col-lg-3 col-md-6 col-12">
                    <div class="single-product card h-100">
                        <div class="product-image">
                            <img class="product-image card-img-top"
                                 th:src="${book.image}"
                                 alt="#">
                            <div class="button">
                                <form action="/cart/add" method="post">
                                    <input type="hidden" name="id" th:value="${book.id}">
                                    <input type="hidden" name="cost" th:value="${book.cost}">
                                    <input type="hidden" name="saleCost" th:value="${book.saleCost}">
                                    <input type="hidden" name="quantity" value=1>
                                    <button type="submit" class="lni lni-cart btn">Add to Cart</button>
                                </form>
                            </div>
                        </div>
                        <div class="product-info">
                            <h4 class="title">
                                <span th:text="${iterStat.count + '. '}" class="emphasis"></span>
                                <a th:href="@{'/book/' + ${book.id}}" th:text="${book.name}"></a>
                            </h4>

                            <th:block th:with="roundedRate=${T(java.lang.Math).floor(book.rate)}">
                                <ul class="review">
                                    <li th:each="star, reviewIterStat: ${#numbers.sequence(1, 5)}">

                                        <i class="lni"
                                           th:classappend="${roundedRate >= reviewIterStat.index +1 ? 'lni-star-filled' : 'lni-star'}"></i>
                                    </li>

                                    <li><span th:text="${book.rate}"></span></li>
                                </ul>
                            </th:block>
                            <p>리뷰 수 : <span th:text=" ${book.reviewCount}"></span></p>
                            <div class="price">

                                <span class="sale-cost"
                                      th:text="${#numbers.formatInteger(book.saleCost, 1, 'COMMA')} + '원'  "></span>
                                <s class="regular-cost"
                                   th:text="${#numbers.formatInteger(book.cost, 1, 'COMMA')} + '원'"></s>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script type="text/javascript">
        //========= Hero Slider
        tns({
            container: '.hero-slider',
            slideBy: 'page',
            autoplay: true,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 0,
            items: 1,
            nav: false,
            controls: true,
            controlsText: ['<i class="lni lni-chevron-left"></i>', '<i class="lni lni-chevron-right"></i>'],
        });

        //======== Brand Slider
        tns({
            container: '.brands-logo-carousel',
            autoplay: true,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 15,
            nav: false,
            controls: false,
            responsive: {
                0: {
                    items: 1,
                },
                540: {
                    items: 3,
                },
                768: {
                    items: 5,
                },
                992: {
                    items: 6,
                }
            }
        });

        tns({
            container: '.brands-logo-carousel',
            slideBy: 'page', // 한 번에 페이지 단위로 슬라이드 이동
            autoplay: true, // 자동 재생
            autoplayButtonOutput: false, // 자동 재생 버튼 숨김
            mouseDrag: true, // 마우스 드래그로 슬라이드 이동
            gutter: 15, // 슬라이드 사이의 간격
            items: 4, // 한 번에 표시될 슬라이드 개수
            nav: true, // 네비게이션(이전/다음 버튼) 표시
            controls: false, // 슬라이드 컨트롤 숨김
            responsive: {
                0: {
                    items: 1, // 화면이 작을 때 한 번에 표시될 슬라이드 개수
                },
                540: {
                    items: 3, // 화면이 중간일 때 한 번에 표시될 슬라이드 개수
                },
                768: {
                    items: 5, // 화면이 크면 한 번에 표시될 슬라이드 개수
                },
                992: {
                    items: 6, // 더 큰 화면에서 한 번에 표시될 슬라이드 개수
                }
            }
        });

    </script>
    <script>
        const finaleDate = new Date("February 15, 2025 00:00:00").getTime();

        const timer = () => {
            const now = new Date().getTime();
            let diff = finaleDate - now;
            if (diff < 0) {
                document.querySelector('.alert').style.display = 'block';
                document.querySelector('.container').style.display = 'none';
            }

            let days = Math.floor(diff / (1000 * 60 * 60 * 24));
            let hours = Math.floor(diff % (1000 * 60 * 60 * 24) / (1000 * 60 * 60));
            let minutes = Math.floor(diff % (1000 * 60 * 60) / (1000 * 60));
            let seconds = Math.floor(diff % (1000 * 60) / 1000);

            days <= 99 ? days = `0${days}` : days;
            days <= 9 ? days = `00${days}` : days;
            hours <= 9 ? hours = `0${hours}` : hours;
            minutes <= 9 ? minutes = `0${minutes}` : minutes;
            seconds <= 9 ? seconds = `0${seconds}` : seconds;

            document.querySelector('#days').textContent = days;
            document.querySelector('#hours').textContent = hours;
            document.querySelector('#minutes').textContent = minutes;
            document.querySelector('#seconds').textContent = seconds;

        }
        timer();
        setInterval(timer, 1000);

    </script>

</div>
</html>