<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/my-books-layout}">
<div layout:fragment="customSetting">

    <link
            rel="icon"
            href="https://static.toss.im/icons/png/4x/icon-toss-logo.png"
    />
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</div>
<div layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="result wrapper">
                <div class="box_section form-text">
                    <h2 style="padding: 20px 0px 10px 0px">
                        <img
                                width="35px"
                                src="https://static.toss.im/3d-emojis/u1F389_apng.png"
                        />
                        결제 성공
                    </h2>
                    <label>
                        <h4>주문 번호</h4>
                        <p id="orderId"></p>
                    </label>
                    <label>
                        <h4>주문 이름</h4>
                        <p id="order-name"></p>
                    </label>
                    <label>
                        <h4>
                            결제 금액
                        </h4>
                        <p id="amount"></p>
                    </label>
                    <label>
                        <span>결제 상태</span>
                        <p id="status"></p>
                    </label>

                </div>

            </div>
        </div>
    </div>
    <script src="/assets/js/payment/success.js"></script>

</div>
</html>