<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/admin-layout}">

<div layout:fragment="content">
    <script>
        let url = "/admin/point"
        let currentPage = [[${pointRulePage.number}]]
        let totalPages = [[${pointRulePage.totalPages}]]
    </script>
    <div class="container mt-5">
        <h2>포인트 규정</h2>
        <form method="get" action="/admin/point-rule/register">
            <label>포인트 적립률</label>
            <button type="submit" class="btn btn-outline-primary">등록</button>
        </form>
        <table class="table">
            <thead>
            <tr>
                <th>포인트 규정 명</th>
                <th>포인트 적립률</th>
                <th>포인트 적립 금액</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pointRule:${pointRulePage.content}">
                <td th:text="${pointRule.pointRuleName}"></td>
                <td th:if="${pointRule.rate != null}" th:text="${pointRule.rate}"></td>
                <td th:if="${pointRule.rate == null}" th:text="'-'"></td>
                <td th:if="${pointRule.cost != null}" th:text="${pointRule.cost}"></td>
                <td th:if="${pointRule.cost == null}" th:text="'-'"></td>
                <td>

                    <form method="post" th:action="@{'/admin/point-rule/update-form'}">
                        <input type="hidden" th:name="id" th:value="${pointRule.id}"/>
                        <input type="hidden" th:name="pointRuleName" th:value="${pointRule.pointRuleName}"/>
                        <input type="hidden" th:name="rate" th:value="${pointRule.rate}"/>
                        <input type="hidden" th:name="cost" th:value="${pointRule.cost}"/>
                        <button class="btn btn-outline-secondary" type="submit" id="button-modify">수정하기</button>
                    </form>
                </td>
                <td>
                    <form id="deleteForm" method="post" th:action="@{'/admin/point-rule/'+${pointRule.id}}">

                        <button class="btn btn-outline-secondary" type="submit" id="button-delete">삭제
                        </button>
                    </form>
                </td>

            </tr>

            </tbody>
        </table>
        <div class="mt-3">
            <div class="pagination">
                <div class="page-item">
                    <a class="page-link" id="prevLink" th:text="'<'" th:href="@{#}"></a>
                </div>
                <div class="pagination" id="pageNumContainer"></div>
                <div class="page-item">
                    <a class="page-link" id="nextLink" th:text="'>'" th:href="@{#}"></a>
                </div>
            </div>
        </div>
    </div>

    <script src="/admin/js/page/setPrevious.js"></script>
    <script src="/admin/js/page/setNext.js"></script>
    <script src="/admin/js/page/setLastPage.js"></script>
</div>

</html>