<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/admin-layout}">

<div layout:fragment="content">
    <div class="container mt-5">
        <h2>송장 번호 입력</h2>
        <div class="input-group input-group-sm justify-content-center mb-3">
            <form method="post" action="/admin/order/invoiceNumber">
                <input type="hidden" name="id" th:value="${id}"/>

                <label>
                    <input class="form-control" name="invoiceNumber" type="text" placeholder="송장 번호 입력"/>
                    <button class="btn btn-outline-secondary" type="submit">등록</button>
                </label>

            </form>

        </div>
    </div>
</div>

</html>