<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thympleaf.org">

<head>
    <!-- 여기에 다른 헤더 정보 추가 -->
</head>
<body>

<style>
    .pix {
        max-height: 50%;
        max-width: 50%;
    }
</style>

<div th:fragment="myBooksHeaderMiddleFragment">
    <div class="header-middle" style="padding-bottom: 0px; padding-top: 0px">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-2 col-md-3 col-7">
                    <!-- Start Header Logo -->
                    <a class="navbar-brand" href="/">
                        <img src="https://kr1-api-object-storage.nhncloudservice.com/v1/AUTH_e805e9a72d2f47338a0a463196c36314/my-books-container/logo/logo-removebg.png"
                             class="pix" alt="Logo" style="max-height: 70%; max-width: 70%;">
                    </a>
                    <!-- End Header Logo -->
                </div>
                <div class="col-lg-8 col-md-9 d-xs-none">
                    <!-- Start Main Menu Search -->
                    <div class="main-menu-search">
                        <!-- navbar search start -->
<!--                        <div class="navbar-search search-style-5">-->
                            <form class="navbar-search search-style-5" id="searchForm" action="/search" method="get">
                                <div class="search-input">
                                    <input id="query" name="query" type="text" th:value="${query}" placeholder="검색어를 입력하세요">
                                </div>
                                <div class="search-btn">
                                    <button type="submit"><i class="lni lni-search-alt"></i></button>
                                </div>
                            </form>
<!--                        </div>-->
                        <!-- navbar search Ends -->
                    </div>
                    <div th:replace="common/fragment/my-book/header/my-books-header-bottom::myBooksHeaderBottomFragment"></div>

                    <!-- End Main Menu Search -->
                </div>
                <div class="col-lg-2 col-md-2 col-2">
                    <div class="middle-right-area">
                        <!--                        <div class="nav-hotline">-->
                        <!--                            <a th:href="@{/login}" th:unless="${isCookiePresent}">로그인</a>-->
                        <!--                            <a th:href="@{/logout}" th:if="${isCookiePresent}">로그아웃</a>-->
                        <!--                            <a th:href="@{/user/register}" th:unless="${isCookiePresent}">회원가입</a>-->
                        <!--                        </div>-->
                        <div class="navbar-cart">
                            <!--                            <div class="wishlist">-->
                            <!--                                <a th:href="@{/book-like}" th:if="${identity_cookie_value}">-->
                            <!--                                    <i class="lni lni-heart"></i>-->
                            <!--                                </a>-->
                            <!--                            </div>-->
                            <div class="nav-hotline">
                                <a th:href="@{/login}" th:unless="${identity_cookie_value}">
                                    <img src="https://kr1-api-object-storage.nhncloudservice.com/v1/AUTH_e805e9a72d2f47338a0a463196c36314/my-books-container/logo/login.png"
                                         style="max-width: 250%; max-height: 250%" alt="로그인">
                                </a>
                                <a th:href="@{/logout}" th:if="${identity_cookie_value}">
                                    <img src="https://kr1-api-object-storage.nhncloudservice.com/v1/AUTH_e805e9a72d2f47338a0a463196c36314/my-books-container/logo/logouticon.png"
                                         style="max-width: 250%; max-height: 250%" alt="로그인">
                                </a>
                            </div>


                            <!--                            <div class="cart-items">-->
                            <!--                                <a th:href="@{/cart}" class="main-btn">-->
                            <!--                                    <i class="lni lni-cart"></i>-->
                            <!--                                </a>-->
                            <!--                            </div>-->
                            <div class="nav-hotline">
                                <!--                                <a th:href="@{/login}" th:unless="${identity_cookie_value}">로그인</a>-->
                                <a th:href="@{/signup}" th:unless="${identity_cookie_value}">
                                    <img src="https://kr1-api-object-storage.nhncloudservice.com/v1/AUTH_e805e9a72d2f47338a0a463196c36314/my-books-container/logo/joins.png"
                                         alt="회원가입" style="max-width: 250%; max-height: 250%">
                                </a>
                                <a th:href="@{/admin}" th:if="${admin_cookie_value}">
                                    <img src="https://kr1-api-object-storage.nhncloudservice.com/v1/AUTH_e805e9a72d2f47338a0a463196c36314/my-books-container/logo/administrator.png"
                                         alt="관리자 페이지" style="max-width: 300%; max-height: 300%">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Header Middle -->
    <script>
        document.getElementById('searchForm').addEventListener('submit', function(event) {
            var input = document.getElementById('query').value.trim();

            if (input === '') {
                alert('검색어를 입력하세요');
                event.preventDefault();
            }
            if (/[^a-zA-Z0-9ㄱ-ㅎㅏ-ㅣ가-힣]/.test(input)) {
                alert('한글, 영문, 숫자만 입력할 수 있습니다');
                event.preventDefault();
            }
        });

    </script>

</div>
</body>


</html>