<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/admin-layout}">

<div layout:fragment="content">
    <script>
        let url = "/admin/author"
        let currentPage = [[${authors.number}]]
        let totalPages = [[${authors.totalPages}]]
    </script>
    <div class="container mt-5">
        <h2>저자</h2>
        <form method="get" action="/admin/author/register">
            <button type="submit" class="btn btn-outline-primary">등록</button>

        </form>
        <table class="table">
            <thead>
            <tr>
                <th>저자</th>
                <th>내용</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="author:${authors.getContent()}">
                <p th:text="${author.id}" hidden></p>
                <td th:text="${author.name}"></td>
                <td th:text="${author.content}"></td>
                <td>

                    <form method="get" th:action="@{'/admin/author/update-form'}">
                        <input type="hidden" th:name="id" th:value="${author.id}"/>
                        <input type="hidden" th:name="name" th:value="${author.name}"/>
                        <input type="hidden" th:name="content" th:value="${author.content}"/>
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">수정하기</button>
                    </form>
                </td>
                <td>
                    <form id="deleteForm" method="post" action="/admin/author/delete">
                        <input type="hidden" th:name="id" th:value="${author.id}"/>

                        <button class="btn btn-outline-secondary" type="submit" id="button-delete">삭제
                        </button>
                    </form>
                </td>

            </tr>

            </tbody>
        </table>
    </div>
    <div class="mt-3" th:block th:if="${authors.totalPages > 1}">
        <div class="pagination">
            <div class="page-item">
                <a class="page-link" id="prevLink" th:text="'<'" th:href="@{#}"></a>
            </div>
            <div class="pagination" id="pageNumContainer"></div>
            <div class="page-item">
                <a class="page-link" id="nextLink" th:text="'>'" th:href="@{#}"></a>
            </div>
        </div>
    </div>
    <script src="/admin/js/page/setPrevious.js"></script>
    <script src="/admin/js/page/setNext.js"></script>
    <script src="/admin/js/page/setLastPage.js"></script>
</div>

</html>