<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/admin-layout}">

<div layout:fragment="content">
    <div class="form-text">

        <div class="input-group input-group-sm justify-content-center mb-3">
            <form method="post" th:action="@{'/admin/publisher/'+${pathValue}}">
                <div th:if="${modifyPublisher == null}">
                    <h3>출판사 등록 페이지</h3>
                    <hr>
                    <input type="text" name="name" class="form-control" placeholder="출판사 명"/>
                    <button class="btn btn-outline-secondary" type="submit">등록
                    </button>
                </div>
                <div th:if="${modifyPublisher != null }">
                    <h3>출판사 수정 페이지</h3>
                    <hr>
                    <input type="hidden" name=id th:value="${id}">
                    <input type="text" name="name" class="form-control"
                           th:value="${modifyPublisher.changeName}"/>
                    <button class="btn btn-outline-secondary" type="submit">수정
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
</html>